body{font-family: 'Poppins', sans-serif !important;background-color: #e2f1f1!important;}
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';


/* You can add global styles to this file, and also import other style files */
.e-symbol-draggable canvas {
    margin-left: 8px !important;
    margin-top: 8px !important;
}
.editor_tab .nav-item{
    margin: 0px;
    padding: 0px;
}
select.form-control:not([size]):not([multiple]){
    height : auto !important;
}
.form-control{
    height : auto !important;
    padding: 2px 7px !important;
    font-size: 12px !important;
}

.e-split-btn-wrapper .e-btn {
    box-shadow: none;
}
.e-icon-btn {
    padding: 0px !important;
}
button#e-dropdown-btn_10 {
    font-size: 14px;
    font-weight: 500;
    border: 1px solid gainsboro;
}
ejs-toolbar#toolbarEditor {
    margin-top: -10px;
}
.fa-file:before {
    margin-right: 5px;
}
span.e-tbar-btn-text {
    border: 1px solid gainsboro;
    padding: 0px 10px 0px 10px !important;
    margin-top: 2px;
}
#overview {
    overflow: unset !important;
}
a#tab4-link {
    border: 1px solid gainsboro;
    margin-bottom: 0px;
}
a#tab5-link {
    border: 1px solid gainsboro;
    margin-bottom: 0px;
}
.e-hscroll .e-scroll-nav.e-scroll-left-nav, .e-hscroll .e-scroll-nav.e-scroll-right-nav {
    display: none;
}
p {
    margin: 0px !important;
    font-size: 12px !important;
}
.replysection .row {
    margin-left: 0px !important;
}
.replysection{
    /* bottom : 0; */    
    /* position: fixed; */
    width: 100%;
}
.editor_tab{
    margin-bottom: -10px;
        background: #E2F1F1 !important;
    }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: gainsboro !important;
}
.mCSB_scrollTools .mCSB_draggerRail{
    background-color: transparent !important;
}
.mCSB_inside > .mCSB_container{
    margin-right: 0px !important;
}


/* FLOW CHAT CHANGES */
.sb-mobile-palette .e-acrdn-header {
    background: #00a9b275 !important;     
}
.e-acrdn-header-content {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.3px;
    color: #FFFFFF !important;    
}
.sb-mobile-palette .e-symbolpalette .e-acrdn-content{background: #E2F1F1 !important;}
.e-accordion .e-tgl-collapse-icon::before{color: #FFFFFF !important;}
#editor-space nav.navbar.navbar-expand-lg.navbar-light {background: #464646 !important;}
#editor-space .upper-nav label {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.3px;
    color: #252B2E;
}
#editor-space ul.navbar-nav.mr-auto select {
    color: #FFFFFF !important;
}
#editor-space li.nav-item span {color: #FFFFFF;border: unset !important;}
#editor-space li.nav-item a{background: #6E858B;border-radius: 3px; padding: 1px 5px !important;border: unset !important;}
#editor-space svg#diagram_diagramLayer_svg path{fill: #f4f4f4;}
#editor-space svg#diagram_diagramLayer_svg {
    border: 0.5px solid #C8C8C8 !important;
    box-sizing: border-box;
}
#editor-space .nav-item i{color: #FFFFFF !important;}
#editor-space .e-toolbar .e-toolbar-items{background-color: #464646;}
#editor-space .e-toolbar .e-toolbar-items{min-height: 35px !important;margin-top: 4px !important;}
#editor-space .fa-file {margin-top: 0px !important;}
#editor-space .e-toolbar-items button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    background: #00AC7C !important;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 5px 9px;
    border: unset;
}
#editor-space .fa-file:before{display: none;}
span.e-tbar-btn-text{border: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF !important;
}
button#e-tbr-btn_5{background: #6E858B !important;}

.editor_tab ul.nav.nav-tabs li a{
    border: unset;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.3px;
    color: #021C26;
    background: transparent !important;
    border: unset !important;
}
.editor_tab .col-6.disp_flex input {
    margin: 0 !important;
}
 #Diagram .row .col-6 p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #021C26;
}
.editor_tab select#changesize {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #505050;
    padding: 6px 10px !important;
    background-image: url("./assets/select_downblack.png");
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: center right 15px;
}
.row.orientation-page {
    flex-direction: column;
}
.e-symbolpalette .e-symbol-hover:hover {background: #E2F1F1 !important;}
.nav-tabs {border-bottom: unset;}
.editor_tab .e_tool_title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #021C26;
}
.editor_tab .text_align_custom{display: flex;align-items: center;}
.editor_tab .row.othercmts {
    background: #FFFFFF;
    border: 0.5px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 0px;
    
}
.replysection form {
    background: #FFFFFF;
    border: 0.5px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
}
form button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.3px;
    background: #00AAB2;
    border-radius: 0px 3px 3px 0px;
    color: #FFFFFF;
    border: unset;
    padding: 6px;
}
form input {
    border: unset;
}
.e-symbolpalette .e-symbol-selected{background: #E2F1F1 !important;}
.editor-space li.nav-item #zoomvalue {background: #6E858B !important ;}
.e-accordion .e-acrdn-item.e-expand-state.e-select{border-radius: 5px;}
li.nav-item.border-right-cutom::after {
    border-right: 1px solid #6E858B;
    content: "";
    display: block;
    height: 28px;
    width: 30px;
    position: absolute;
    right: -6px;
    top: 4px;
}
.control-section ul.navbar-nav.mr-auto {
    display: flex;
    align-items: center;
}
.e-split-btn-wrapper button {background: transparent;}
.editor_tab .nav-tabs {border-bottom: unset;}
.editor_tab .line_grey{    
    border-bottom: 1px solid #C4C4C4;    
}
.nav-item .disable{cursor: not-allowed;}
.e-accordion .e-acrdn-item.e-select{border-radius: 5px;}
li.nav-item.border-right-cutom {position: relative;}
.image-pattern-style{margin-top: 2px !important;}
form.add_reply {
    display: flex;
    flex-direction: column;
}
.add_reply textarea:focus-visible{
    outline: 1px solid #00a9b271 ;
}
form .row {
    display: flex;
    align-items: center;
}
.replysection .col-12 {padding: 0px 15px 0px 2px;}
form.ng-pristine.ng-valid.ng-touched p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #021C26;
}
button.sidebtn.fill-width span {
    margin-right: 3px;
}
.btn_trans button{
    background: #FFFFFF !important;
    border: 0.5px solid #D3D3D3 !important;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #686A6B !important;
    padding: 6px 8px !important;
    }
    .tabset.tab-container ul {
        border-bottom: 1px solid #C4C4C4 !important;
    }
    li.active.nav-item span {
        border-bottom: 3px solid #00AAB2;color: #00AAB2 !important;
    }
    .row.othercmts span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: -0.3px;
        color: #848484;
    }
    .row.othercmts p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 15px;
        letter-spacing: -0.3px;
        color: #4A4A4A;
    }
    form.add_reply textarea{border: 1px solid #00AAB2;}
.custom_icn .e-colorpicker-wrapper button {
    position: absolute;
    width: 25px;
    left: 0px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    top: 0;
}
li.nav-item.mtp-5.custom_icn {
    position: relative;
}
 
                                      
div#diagramcontent {
    overflow: hidden !important;
}
.fclink{
    color: #337ab7 !important;
    border: none;
    font-size: 12px;
    line-height: 36px;
    display: block;
    cursor: pointer;
}

ul.e-upload-files {
    display: none;
}
.e-upload .e-file-select-wrap, .e-bigger.e-small .e-upload .e-file-select-wrap{
    padding : 0px
}
button.e-css.e-btn {
    background: #6e858b;
    color: white;
    margin-top: 5px;    
    /* margin-left: -13px; */
    padding: 4px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: inherit !important;
    font-weight: normal;
}

.linkbtn{
    background: #6e858b;
    color: white;
    font-size: 13px;
    padding: 2px 4px 4px 4px;
    border-radius: 5px;
    margin-top: 3px;
}
ul.navbar-nav .nav-item {
    margin: 0px 7px;
}
input#textEnter {
    padding: 0px 9px;
    border : 1px solid gainsboro;
    background: #e2f1f1!important;
}
.e-icons.e-search:before {
    content: "\e993";
}
span#iconSearch {
    background: #e2f1f1!important;
    margin: 0px;
}
.modal.fade .modal-dialog{
    transform: translate(0,0) !important;
}
select#toolvalue {
    background: #6e858b;
    padding: 3px !important;
    border: none;
}

li#hide_css {
    visibility: hidden;
    /* display: none; */
}