@font-face {
    font-family: 'Poppins';
    src: url('{{asset('fonts/Poppins-SemiBold.eot')}}');
    src: url('{{asset('fonts/Poppins-SemiBold.eot?#iefix')}}') format('embedded-opentype'),
        url('{{asset('fonts/Poppins-SemiBold.woff2')}}') format('woff2'),
        url('{{asset('fonts/Poppins-SemiBold.woff')}}') format('woff'),
        url('{{asset('fonts/Poppins-SemiBold.ttf')}}') format('truetype'),
        url('{{asset('fonts/Poppins-SemiBold.svg#Poppins-SemiBold')}}') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
  }
  
  @font-face {
    font-family: 'Poppins'; 
    src: url('{{asset('fonts/Poppins-Regular.eot')}}');
    src: url('{{asset('fonts/Poppins-Regular.eot?#iefix')}}') format('embedded-opentype'),
        url('{{asset('fonts/Poppins-Regular.woff2')}}') format('woff2'),
        url('{{asset('fonts/Poppins-Regular.woff')}}') format('woff'),
        url('{{asset('fonts/Poppins-Regular.ttf')}}') format('truetype'),
        url('{{asset('fonts/Poppins-Regular.svg#Poppins-Regular')}}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    
  } 
  html {
      font-family: 'Poppins', sans-serif;
  }
  
  body {
      font-family: 'Poppins', sans-serif !important;
      letter-spacing: -0.3px;
  }
  
  ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
  }
  
  
  /* ::-webkit-scrollbar-button {
      background: #ccc
  }
   */
  
  ::-webkit-scrollbar-track-piece {
      background: #eee
  }
  
  
  ::-webkit-scrollbar-thumb {
      background: #888
  }
  
  ​:root {
      --primary-bg-color: white;
      --primary-text-color: #12A0D9;
      --secondary-bg-color: #E5E5E5;
      --secondary-text-color: black;
  }
  
  .black {
      color: #000;
  }
  
  .fs_12 {
      font-size: 12px;
  }
  
  .fs_14 {
      font-size: 14px;
  }
  
  .fs_16 {
      font-size: 16px;
  }
  
  .fs_18 {
      font-size: 18px;
  }
  
  .fs_20 {
      font-size: 20px;
  }
  
  .fw_300 {
      font-weight: 300;
  }
  
  .fw_400 {
      font-weight: 400;
  }
  
  .fw_500 {
      font-weight: 500;
  }
  
  .fw_600 {
      font-weight: 600;
  }
  
  .fw_700 {
      font-weight: 700;
  }
  
  .primary-text {
      color: var(--primary-text-color);
  }
  
  .primary-bg {
      background-color: var(--primary-bg-color);
  }
  
  .secondary-bg {
      background-color: var(--secondary-bg-color);
  }
  
  .secondary-text {
      color: var(--secondary-text-color);
  }
  
  button:focus {
      outline: none;
      box-shadow: none !important;
  }
  
  form input,
  textarea:focus {
      box-shadow: none !important;
      outline: none !important;
  }
  
  #wrapper .left-navn .top-head a img {
      cursor: pointer;
  }
  .left-navn.primary-bg img.logo_img {
      width: 100%;
      max-width: 96px;
      max-height: 50px;
  }
  #wrapper #side-wrapper {
      width: 229px;
      box-shadow: 3px -5px 5px -1px rgb(0 0 0 / 11%);
      z-index: 1;
  }
  
  #wrapper .left-navn .list-group li {
      list-style: none;
  }
  /* 
  #wrapper .left-navn .list-group li:hover,
  .active {
      background-color: #12A0D9;
  } */
  
  #wrapper .left-navn .list-group li:hover a {
      /* color: white; */
      border-left: 3px solid #008CC5;
      padding: 10.9px 17px;
      /* background-color: #008CC5; */
  }
  
  
  #wrapper .left-navn .list-group li.active a {
      /* color: white; */
      /* border-left: 3px solid #008CC5; */
      padding: 10.9px 17px;
  }
  
  #wrapper .left-navn .list-group li:hover svg {
      /* fill: white; */
  }
  
  #wrapper .left-navn .list-group li.active svg {
      fill: #4d4d4ded;
      transition: ease-in  2ms;
  }
  
  #wrapper .left-navn .list-group li a {
      padding: 10.9px 19px;
      border: 0;
      color: rgba(42, 42, 42, 0.7);
      font-size: 15px;
      font-weight: 400 !important;
      display: flex;
      align-items: center;
      letter-spacing: -0.3px;
  
  }
  .sidemenu_img{
      margin-right:19px;   
  }
  
  #wrapper .left-navn .list-group li a svg {
      fill: #4D4D4D;
      margin-right: 19px;
  }
  
  #wrapper .left-navn .list-group li.flow_chart_part a {
      text-decoration: none;
  }
  
  #wrapper .left-navn .list-group li.flow_chart_part ul {
      margin-bottom: 0;
      background-color: white;
  }
  
  #wrapper .left-navn .list-group li.flow_chart_part li a {
      /* background-color: white !important; */
      color: rgba(42, 42, 42, 0.7);
      border-left: 0;
  }
  #wrapper .left-navn .list-group li.flow_chart_part li.active a{
      font-weight: 400;
      font-size: 15px;
  }
  
  #wrapper .left-navn .list-group li.flow_chart_part li:hover {
      /* background-color: white;
      border-left: 0; */
      color: black;
      /* background-color: transparent; */
  }
  
  /* #wrapper .left-navn .list-group li.flow_chart_part li:hover a {
      color: #12A0D9 !important;
      border-left: 0;
  } */
  
  #wrapper .left-navn .list-group li.flow_chart_part li.active a {
      /* color: #fff !important; */
      border-left: 0;
  }
  
  #wrapper #main-page-wrapper {
      float: left;
      width: 100%;
  }
  
  #wrapper .XA_text {
      width: 45px;
      height: 45px;
      left: 1136px;
      background: #179FD7;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 800;
      font-size: 18px;
      position: relative;
      left: 0;
      cursor: pointer;
  }
  
  #wrapper .welcome_text {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #252B2E;
  }
  
  #wrapper #navbarSupportedContent1 {
      justify-content: flex-end;
  }
  
  #wrapper .webview {
      box-shadow: 4px 5px 8px 2px rgb(0 0 0 / 5%);
      float: left;
      width: calc(100% - 229px);
      left: 229px;
      background: white;
      border-left: 1px solid #E5E5E5;
      min-height: 70px;
      height: auto;
  }
  
  #wrapper .webview button.navbar-toggler {
      box-shadow: 4px 5px 8px 2px rgb(0 0 0 / 5%) !important;
      border-radius: 50%;
  }
  
  #wrapper .main_part {
      background-color: #f6fbfd;
      width: 100%;
      float: left;
      min-height: 90vh;
      height: auto;
      position: absolute;
      top: 62px;
  }
  
  #wrapper .main_part .new_btn {
      min-width: 109px;
      width: auto;
      min-height: 34px;
      height: auto;
      background: #179FD7;
      border-radius: 10px;
      margin-right: 20px;
      color: white;
      font-size: 14px;
      font-weight: 600;
  }
  
  #wrapper .main_part .recent_flow {
      font-weight: 600;
      font-size: 16px;
      color: #202020c7;
  }
  #wrapper .main_part .card-section .card {
      min-width: 179px;
      width: auto;
      margin-right: 24px;
      border-radius: 10px 10px 10px 10px;
      border: 0;
      box-shadow: 4px 5px 8px 2px rgb(0 0 0 / 5%);
  }
  
  #wrapper .main_part .card-section .card .card-body .algorithem_text h4 {
      font-weight: 500;
      font-size: 12px;
      color: #12A0D9;
      font-weight: normal;
  }
  
  #wrapper .main_part .card-section .card .card-body {
      cursor: pointer;
      position: relative;
  }
  
  #wrapper .main_part .card-section .card .card-body:hover .before_hover {
      display: none !important;
  }#wrapper .main_part .card-section .card .card-body:hover .default_temp_card {
      /*display: block !important;*/
  }
  
  #wrapper .main_part .card-section .card .card-body:hover .after_hover {
      display: block !important;
  }
  
  #wrapper .main_part .card-section .card .card-body.active .before_hover {
      display: none !important;
  }
  
  #wrapper .main_part .card-section .card .card-body.active .after_hover {
      display: block !important;
  }
  
  #wrapper .main_part .card-section .card .card-body .algorithem_text p {
      font-weight: normal;
      font-size: 10px;
      color: #000000;
      opacity: 0.5;
      text-align: unset;
  }
  
  #wrapper .main_part .card-section .card .card-body .algorithem_part {
      justify-content: space-evenly;
      min-height: 58px;
      height: auto;
      background: #EFEFEF;
  }
  
  .after_hover {
      display: none !important;
  }
  
  
  .model_grp {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
   .input_model input {
      font-weight: 400;
      font-size: 16px;
      color: #626361;
      background: #FFFFFF;
      border: 1px solid #B7B7B7;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 0px 20px;
      width: 250px;
      height: 40px;
      margin-right: 30px;
  }
  .d-flex.align-items-center.algorithem_part.after_hover {
      display: none !important;
  }
  .after_hover button.btn {
      min-width: 60px;
      width: auto;
      min-height: 23px;
      height: auto;
      left: 267px;
      color: white;
      top: 277px;
      background: #12A0D9;
      border-radius: 5px;
      font-weight: 600;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .after_hover p {
      font-size: 12px;
      font-weight: normal;
      color: #000000;
      opacity: 0.7;
  }
  
  .after_hover .after_algorithem {
      min-height: 58px;
      height: auto;
      justify-content: space-around;
  }
  
  .Invite_Collbrators {
      width: 100%;
  }
  
  div#exampleModal .modal-content .dropdown {
      width: 18%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  
  .invite h3 {
      font-weight: 600;
      font-size: 16px;
      color: #000000;
  }
  
  .link {
      cursor: pointer;
  }
  
  .link h5 {
      font-weight: 500;
      font-size: 14px;
      color: #179FD7;
      margin: 0;
      margin-right: 4px;
  }
  
  .dropdown-toggle::after {
      color: black;
  }
  
  button#dropdownMenuButton1 {
      background: transparent;
      border: 1px solid #C4C4C4;
  }
  
  .Invite_Collbrators input {
      border: 1px solid #C4C4C4;
      min-height: 35px;
      height: auto;
      color: black;
  }
  
  .Invite_Collbrators input:focus {
      border: 1px solid #179FD7;
  }
  
  h5#exampleModalLabel {
      font-weight: 600;
      font-size: 20px;
      color: #000000;
  }
  
  div#exampleModal button.close {
      font-size: 31px !important;
      font-weight: 400 !important;
      color: black;
      opacity: 1;
  }
  
  #exampleModal .popup_text textarea {
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 5px;
      resize: none !important;
      color: black;
  }
  
  #exampleModal .popup_text textarea:focus {
      border: 1px solid #179FD7;
  }
  
  #exampleModal .modal-footer button {
      min-width: 109px;
      width: auto;
      min-height: 34px;
      height: auto;
      background: #179FD7;
      border-radius: 10px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 14px;
  }
  
  #load_item {
      position: absolute;
      top: 187px;
      z-index: 1;
      left: 110px;
  }
  
  #load_item ul {
      display: none;
      list-style: none;
      background: white;
      /* position: absolute;
      bottom: 48px;
      left: 174px; */
      z-index: 1;
      box-shadow: 4px 5px 8px 2px rgb(0 0 0 / 5%);
      min-width: 136px;
      width: auto;
      top: 137px;
      /*min-height: 222px;*/
      height: auto;
  }
  
  #load_item ul li {
      padding: 6px 12px;
  }
  
  #logout_btn button {
      display: none;
  }
  
  #logout_btn.toggled {
      position: absolute;
      top: 55px;
      right: -37px !important;
      width: 130px;
      border-radius: 5px;
      background: #FFFFFF; 
      box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 10%);
  }
  #logout_btn.toggled button:hover{
      background: gray;
      color: white;
  }
  #logout_btn.toggled button {
      display: block !important;
      width: 100%;
      height: 54px;
      background: #FFFFFF;
      /*box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 10%);*/
      border-radius:5px;
      /*  position: absolute;
      right: 123px;
      top: 55px; */
      font-weight: 500;
      font-size: 16px;
      color: #0000008f;
  }
  
  #logout_btn.toggled button:focus {
      box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 10%) !important;
  }
  
  .sidebar-link[aria-expanded="true"] .right-icon {
      transform: rotate(180deg);
      transition: all ease 0.25s;
  }
  
  div#logout_btn a button.btn svg {
      fill: #5a5858d1;
      margin-right: 19px;
  }
  
  #wrapper .Upgrade_btn {
      width: 109px;
      height: 34px;
      background: #179FD7;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 14px;
      font-weight: bold;
  }
  
  #wrapper button .badge {
      background: #179FD7;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      margin-left:2px;
      top: 9px;
      right: 10px;
      padding: 1px;
  }
  
  .notification_part {
      min-width: 239px;
      max-width: 100%;
      width: 239px;  
      /*overflow-y: auto;*/
      background: #FFFFFF;
      box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 8%);
      border-radius: 5px;
      /* position: relative; */
      display: none;
      position: absolute;
      top: 40px;
      right: -65px;
      z-index: 1;
  }
  
  .mystyle {
      display: block !important;
  }
  
  .myFunc {
      display: block !important;
  }
  
  .color_card_section .fade:not(.show) {
      opacity: 1;
      background: #00000047;
  }
  
  .theme_popup {
      display: none;
  }
  
  div#navbarSupportedContent1 button {
      position: relative;
      margin-right:15px;
  }
  
  .notification_part::after {
      content: '';
      position: absolute;
      top: -14px;
      background-image: url('{{asset('images/front_images/user_module/top-arrow.png')}}');
      width: 15px;
      height: 16.5px;
      left: 108px;
  }
  
  .notification_part_blue::after {
      content: '';
      background-image: url('{{asset('images/front_images/user_module/top-arrow-blue.png')}}');
  }
  
  .notification_part .notify_text {
      background: #179FD7;
      color: white;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
  }
  
  .notification_part .notify_part {
      /*justify-content: space-evenly !important;*/
      border-bottom: 1px solid #00000059;
      margin-bottom: 2px;
      margin-top: 2px;
    }
  
  .notification_part .notify_part .notify_para h3 {
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    opacity: 0.6;
    line-height: 1.7;
    margin: 0;
    text-align: left;
    margin-left: 10px;
  }
  
  .notification_part .notify_part .notify_para p {
      font-size: 8px;
      line-height: 12px;
      color: #000000;
      opacity: 0.45;
      margin-bottom: 11px;
      text-align: unset;
  }
  
  .notification_part .notify_footer {
      float: right;
      cursor: pointer;
      margin-top: 7px;
  }
  
  .notification_part .notify_footer a {
      font-weight: normal;
      font-size: 12px;
      color: #D70000;
      opacity: 0.8;
      padding-right: 13px;
  }
  
  div#load_item ul.list-group li:hover {
      background: #008CC5;
      color: white;
  }
  
  
  /* dashboard-theme */
  
  /* .dashboard-theme .Dashboard_second .list_dashboard:hover,
  .active {
      background-color: #54678B;
  } */
  
  .dashboard-theme .Dashboard_second .list_dashboard:hover {
      background-color: #54678B ;
  }
  
  .dashboard-theme .Dashboard_second .list_dashboard.active a {
      border-left: 3px solid black !important;
  }
  
  .dashboard-theme .Dashboard_second .list_dashboard:hover a {
      border-left: 3px solid black !important;
  }
  
  #wrapper .left-navn .list-group li a {
      text-decoration: none;
  }
  
  #wrapper .left-navn .list-group li.list_dashboard ul li:hover a {
      border-left: none;
  }
  
  .dashboard-theme #wrapper .left-navn .list-group li.active a {
      border-left: 3px solid black;
  }
  
  .dashboard-theme #wrapper .left-navn .list-group li .navbra-nav li a {
      border-left: none;
      color: black;
  }
  
  .dashboard-theme #wrapper .left-navn .list-group .list_dashboard:hover {
      background: #54678B ;
  }
  
  /* #wrapper .left-navn .flow_chart_part.active {
      background-color: #12A0D9;
  } */
  
  li.flow_chart_part_1.list_dashboard ul.navbra-nav li a {
      color: black;
      cursor: pointer;
  }
  
  li.flow_chart_part_1.list_dashboard ul.navbra-nav {
      background-color: white;
      margin-bottom: 0;
  }
  
  /* li.flow_chart_part_1.list_dashboard ul.navbra-nav li a {
      background-color: white;
  } */
  
  /* .flow_chart_part_1.list_dashboard ul.navbra-nav li:hover {
      background-color: white !important;
  } */
  
  #wrapper .left-navn .list-group li.flow_chart_part_1.list_dashboard li a:hover {
      color: #54678B;
      border-left: none !important;
  }
  
  #wrapper .left-navn .list-group li.flow_chart_part_1.list_dashboard li a {
      border-left: none !important;
  }
  
  .dashboard-theme #wrapper .main_part .card-section .card .card-body .algorithem_text h4 {
      color: #54678B;
      font-weight: 500;
  }
  
  .dashboard-theme .after_hover button.btn {
      background: #54678B;
  }
  
  .dashboard-theme #wrapper button .badge {
      background: #54678B;
  }
  
  .dashboard-theme #wrapper .XA_text {
      background: #54678B;
  }
  
  .dashboard-theme #wrapper .Upgrade_btn {
      background: #54678B;
  }
  
  .dashboard-theme #wrapper .main_part .new_btn {
      background: #54678B;
  }
  
  .dashboard-theme .notification_part .notify_text {
      background: #54678B;
  }
  
  .link_dashboard h5 {
      color: #54678B;
  }
  
  #exampleModal .modal-footer button {
      background: #54678B;
  } 
  #collapseExample1,#collapseExample2,#collapseExample,#collapseExample3, #collapseExamplerole1{
      background-color: white !important;
  } 
  #collapseExample1 ul,#collapseExample3 ul,#collapseExample4 ul,#collapseExample2 ul ,#collapseExamplerole1  ul {
      background-color: transparent;
  } 
  
  #wrapper #main-page-wrapper .header_top p {
      font-weight: 500;
      font-size: 12px;
      color: #202020;
      text-align: unset;
  }
  
  
  /* theme-setting */
  #wrapper #main-page-wrapper .main_part .color_card_section .card:hover {
      border: 2px solid #12A0D9;
  }
  #wrapper #main-page-wrapper .main_part .color_card_section .card {
      width: 218px;
      height: 150px;
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      cursor: pointer;
      border: 0;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .color_name {
      position: absolute;
      bottom: 12px;
      left: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: #000000;
      opacity: 1;
  }
  
  div.theme_popup button.close {
      background-color: #F44336 !important;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
  }
  
  div.theme_popup button.close span {
      color: white;
  }
  
  div.theme_popup .modal-header {
      align-items: center !important;
      display: flex !important;
      border-bottom: 0;
      padding: 30px 30px 30px 0 !important;
  }
  
  div.theme_popup .modal-content {
      width: 415px;
      height: 205px;
  }
  
  div.theme_popup .modal-content .modal-body {
      border: 0 !important;
  }
  
  div.theme_popup .modal-content .modal-body .theme {
      font-size: 18px;
      color: #000000;
      text-align: center;
  }
  
  div.theme_popup .modal-content .modal-footer {
      justify-content: center !important;
      border-top: 0 !important;
  }
  
  div.theme_popup .modal-content .modal-footer .btn {
      min-width: 128px;
      min-height: 39px;
      left: 786px;
      top: 399px;
      opacity: 0.7;
      border: 1px solid #A3A3A3;
      box-sizing: border-box;
      border-radius: 5px;
      width: auto;
      height: auto;
      margin: 26px 14px;
  }
  
  div.theme_popup .modal-content .modal-footer .btn:hover {
      background: #179FD7;
      color: white;
      opacity: 1;
      /* border-top: 0 !important; */
  }
  
  div.theme_popup .modal-content .modal-body .theme span {
      color: #54678B !important;
      font-weight: bold;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .card-body {
      display: flex;
      justify-content: center;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color {
      width: 205px;
      height: 96px;
      border-radius: 3px 3px 0px 0px;
      position: relative;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_1 {
      background: #B1D5EF;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_2 {
      background: #CAB5ED;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_3 {
      background: #F6BFD0;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_4 {
      background: #54678B;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_5 {
      background: #DCF0E4;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_6 {
      background: #F5F5F5;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_7 {
      background: #E2C7DA;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_8 {
      background: #EEEFCD;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_9 {
      background: #E4E8C7;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_10 {
      background: #B7E6D6;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_11 {
      background: #AFCAC5;
  }
  
  #wrapper #main-page-wrapper .main_part .color_card_section .card .choose_color_12 {
      background: #D1D1DD;
  }
  
  
  /* login */
  
  .right_section .reveal {
      position: absolute;
      right: 0;
  }
  
  .right_section i.reveal.toggled {
      top: 32px;
  }
  
  .right_section .reveal.toggled::after {
      border-bottom: 2px solid #C2C2C2;
      transform: rotate( -140deg);
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      position: relative;
      top: -14.6px;
      left: -7.3px;
      float: right;
      right: 17px;
      border-radius: 0;
  }
  
  .form_section .right_part {
      min-height: 92.7vh;
  }
  
  .logo-1 img {
      width: unset !important;
  }
  
  .form_section .right_part form .form-group {
      position: relative;
  }
  .top-head a img {
      width: auto;
      object-fit: cover!important;
      max-width: 200px;
  }
  
  
  /* .form_section .right_part form .form-group label {
      display: none;
  } */
  
  .form_section .right_part form .form-group .form-control {
      border: 0;
      border-bottom: 2px solid #E4E4E4;
      border-radius: 0;
      font-size: 14px;
      font-weight: normal;
      color: black;
      height: calc(3em + .75rem + 2px);
      padding: 0.075rem 2.15rem;
  }
  
  .form_section .right_part form .form-group .form-control::placeholder {
      font-weight: normal;
      font-size: 14px;
      color: #ACACAC;
  }
  
  .form_section .right_part form .form-group img {
      position: absolute;
      bottom: 22px;
      font-weight: 700;
  }
  .form_section .right_part form .form-group.name_err img {
      margin-bottom: 20px;
  }
  .form_section .right_part form .form-group.pwd_err img {
      margin-bottom: 20px;
  }
  .form_section .right_part form .form-group img.eye_icon {
      position: absolute;
      right: 0;
      opacity: 0.3;
  }
  
  .form_section .right_part h2 {
      font-weight: 600;
      font-size: 30px;
      color: #000000;
      line-height: 45px;
  }
  
  .form_section .right_part form .remember_section .form-group.checkbox label {
      padding-left: 27px;
      font-weight: normal;
      font-size: 14px;
      color: #ACACAC;
  }
  
  .form_section .right_part form .remember_section a {
      font-weight: normal;
      font-size: 14px;
      color: #ACACAC;
      cursor: pointer;
  
  }
  
  .form_section .right_part form .login_btn {
      background: #179FD7;
      border-radius: 10px;
      min-height: 50px;
      height: auto;
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-transform: capitalize;
      margin-top: 29px;
  }
  
  .form_section .right_part form .signup_text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #ACACAC;
      
  }
  
  .form_section .right_part form .signup_text span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #179FD7;
      cursor: pointer;
      /* update */
  }
  
  .form_section .right_section p {
      font-weight: normal;
      font-size: 14px;
      color: #000000;
      text-align: unset;
  }
  
  #wrapper_otp {
      font-size: 1.5rem;
      box-sizing: border-box;
      color: #333;
  }
  
  #dialog #form {
      margin: 25px auto 0;
  }
  
  #form input {
      margin: 0 26px;
      font-size: 50px;
      outline: none;
      transition: all .2s ease-in-out;
      border: 0;
      border-bottom: 2px solid #E4E4E4;
      border-radius: 0;
      width: 50px;
      height: 45px;
      margin-left: 0;
  }
  
  #form::selection {
      background: transparent;
  }
  
  .Continue_btn {
      background: #179FD7;
      border-radius: 10px;
      min-height: 50px;
      height: auto;
      color: white;
      font-weight: bold;
      font-size: 20px
  }
  
  .Continue_btn:hover {
      color: white;
  }
  
  .resend_otp {
      font-weight: normal;
      font-size: 14px;
      color: #000000;
      cursor: pointer;
  }
  
  .remember_section label:before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 0;
  }
  
  .remember_section input[type=checkbox] {
      display: none;
  }
  
  .remember_section .checkbox label:before {
      background: url('{{asset('images/front_images/login_imgs/withouttick.png')}}');
      margin-top: 2px;
  }
  
  .remember_section input[type=checkbox]:checked+label:before {
      background: url('{{asset('images/front_images/login_imgs/withtick.png')}}');
  }
  
  
  /* Aasiq */
  .login_plan {
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
  }
  .nb {
      width: 100%;
      max-width: 290px;
      float: left;
  }
  .Acc_Setting {
      display: inline-block;
      margin: 50px 20px 20px 20px;
      padding-bottom: 10px;
      color: #8F9187;
      font-weight: 600;
      font-size: 16px;
      
  }
  .pl{
      color: #179FD7;
      border-bottom: 2px solid #179FD7;
  }
  .as{
      color: #179FD7;
      border-bottom: 2px solid #179FD7;
  }
  .Acc_Setting:hover {
      color: #12A0D9;
      border-bottom: none;
      padding-bottom: 10px;
  }
  
  .inner-wrapper-g {
      /* padding: 30px; */
      padding-top: 15px;
  }
  
  .w-bg {
      background: white;
      width: 100%;
      padding: 10px 30px 30px;
      box-shadow: -1px 0px 12px 1px #dddddd;
      -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
      -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
      -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
  }
  .pr-la-in.as-i input::placeholder{
      color: #000000;
  }
  .pr-la-in label {
      font-weight: 500;
      font-size: 14px;
      color: #8F9187;
      padding-left: 5px;
      width: 100%;
      letter-spacing: 1px;
  }
  
  .pr-la-in input {
      background: #FFFFFF;
      border: 1px solid #B7B7B7;
      box-sizing: border-box;
      border-radius: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #353631;
      margin: 0px 0px 10px 0px;
      width: 100%;
      padding: 10px 15px 10px 17px;
      outline: none;
  }
  
  .pr-la-in select {
      border: 1px solid #B7B7B7;
      box-sizing: border-box;
      border-radius: 5px;
      max-width: 100% !important;
      width: 100%;
      margin: 0px 0px 10px 0px;
      padding: 10px 45px 10px 12px;
      max-width: 360px;
      /* background: url(../images/select-arrow.png)no-repeat #FFF; */
      background-position: 95% center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #626361;
      outline: none;
  }
  
  .cp {
      width: 100%;
      margin-left: 20px;
  }
  
  .cp h5 {
      font-size: 16px;
      color: #12A0D9;
  }
  
  h5#rc {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #8F9187;
      padding-top: 7px;
  }
  
  .button_section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0px 0px 30px 0px;
      margin: 15px;
  }
  
  .button_section {
      margin: 30px 0px 15px 0px;
      border-radius: 0px 0px 10px 10px;
  }
  
  .button_section .blue_btn {
      width: 150px;
      height: 45px;
      margin-right: 40px;
      background: #179FD7;
      border-radius: 5px;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
  }
  
  .button_section .white_btn {
      width: 150px;
      height: 45px;
      background: transparent;
      border: 1.5px solid #959292;
      box-sizing: border-box;
      border-radius: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: capitalize;
  }
  
  h6#bh,
  h6#cp {
      color: #179FD7;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .kc {
      display: flex;
      justify-content: space-around;
      width: 100%;
  }
  .chart {
      width: 100%;
      float: left;
      display: flex;
      background: #F5F5F5;
  }
  
  .chart img {
      padding: 10px;
      width: 100%;
      max-width: 140px;
  }
  
  img.k-l {
      width: 100%;
      max-width: 150px;
  }
  
  .distict_table {
      width: 100%;
  }
  
  .distict_table thead {
      padding: 15px 10px;
  }
  
  tr.tab {
      background-color: unset !important;
  }
  
  tr:nth-child(odd) {
      background-color: #dddddd;
  }
  
  .distict_table thead tr th {
      font-weight: 600;
      font-size: 14px;
      color: #837F98;
      padding: 10px 10px;
      white-space: nowrap;
  }
  
  tr:nth-child(odd) {
      background-color: #dddddd;
  }
  
  .distict_table tbody tr td {
      font-weight: 400;
      padding: 15px 10px;
      white-space: nowrap;
      font-size: 14px;
  }
  tr:nth-child(odd) {
      background-color: #F7F8F9;
      border-top: 1px solid #E5E8EB;
      border-left: 1px solid #E5E8EB;
  }
  tr.tab {
      background-color: unset !important;
      border-top: unset !important;
      border-left: unset !important;
  }
  main.page-cont {
      margin: 65px;
      background: url('{{asset('images/front_images/Frame.png')}}') no-repeat;
      min-height: 100vh;
  }
  
  .cards {
      margin: 40px 10px 10px 10px;
  }
  
  .login_plan img {
      width: 100%;
      max-width: 275px;
      float: left;
      /* position: absolute; */
  }
  /* .card.mr-4:hover {
      border: 1px solid #179FD7;
  } */
  
  .login_plan h3,
  p {
      text-align: center;
  }
  
  .login_plan h3 {
      color: #179FD7;
      margin-bottom: 20px;
      font-size: 30px !important;
      font-weight: 600;
  }
  
  .login_plan p {
      color: #000;
      font-weight: 500;
      font-size: 20px;
      /*margin-bottom: 35px;*/
  }
  
  .cards-p {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;
  }
  
  .cs {
      display: flex;
      align-items: baseline;
      justify-content: center;
  }
  
  .card.mr-4 {
      /*min-height: 270px;*/
      /*height: 260px;*/
      border-radius: 15px;
      min-width: 240px;
  }
  p#st {
      font-size: 16px;
  }
  .iv {
  /*    min-height: 10px;
      height: 67px; */
  }
  
  .dollar {
      font-size: 32px;
      font-weight: bold;
      color: #179FD7;
  }
  .iv-2 {
      min-height: 15px;
      height: 90px;
  }
  p.card-text {
      font-size: 14px;
      color: #000;
  }
  .card-body.card-c.mb-ic img.tick {
      display: block;
  }
  .card-body.card-c.card-gray {
    color: #ddd;
    height: 245px;
}
.card-body.card-c.card-gray h4.card-text.gq {
    color: #ddd;
    border-bottom: 3px solid #ddd;  
    font-size: 18px;
    font-weight: 600;
    width: 65%;
    margin: 0 auto;
}
.regis-enterprise{
  height: 245px;
}
.card-body.card-c.card-enterp.mb-ic,.card-body.card-c.card-enterp {
    height: 245px;
}
  .card-body.card-c.mb-ic.card-gray  {
    border: 1px solid #179FD7;
    border-radius: 15px;
    color: #000;
    height: 245px;
}
h4.card-text.gq {
    color: #179FD7;
    border-bottom: 2px solid #179FD7;
    font-size: 18px;
    font-weight: 600;
    width: 61%;
    margin: 0 auto;
}
.card-body.card-c.mb-ic.card-gray .dollar  {
   color: #179FD7;
  }
.card-body.card-c.card-gray .dollar  {
   color: #ddd;
  }

.card-body.card-c.mb-ic.card-gray  p.card-text  {
   color: #000;
  }
.card-body.card-c.card-gray p.card-text  {
   color: #ddd;
  }
  
  img.plus {
      position: absolute;
      bottom: -26px;
      display: block;
      left: 50%;
      transform: translate(-50%, 0%);
      border: 1px solid #D2D2D2;
      background: #fff;
      border-radius: 30px;
      padding: 15px;
  }
  
  img.tick {
      position: absolute;
      bottom: -26px;
      display: none;
      left: 90px;
      border: 1px solid #D2D2D2;
      background: #179FD7;
      border-radius: 30px;
      padding: 20px;
      width: 56px;
      height: 56px;
  }
  
  .button_section-c {
      border-radius: 0px 0px 10px 10px;
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;
  }
  
  .button_section-c .blue_btn {
      width: 195px;
      height: 45px;
      margin-top: 30px;
      margin-right: 60px;
      background: #179FD7;
      border-radius: 5px;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      width: 100%;
      max-width: 300px;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
      float: right;
      margin-bottom: 30px;
  }
  .iv-2 h5.card-title.text-center {
      font-weight: 600;
      font-size: 20px;
      margin-top: 8px;
  }
  .change_plan_btn {
      width: 109px;
      height: 34px;
      background: #179FD7;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 12px;
      font-weight: bold;
  }
  .card-body.card-c.mb-ic.card-gray h4.card-text.gq {
      color: #179FD7;
      border-bottom: 2px solid #179FD7;
      font-size: 18px;
      font-weight: 600;
      width: 65%;
      margin: 0 auto;
  
  }
  .form_section .right_part form .form-group {
      position: relative;
      /* width: 93%; */
  }
  .form_section .right_part form .form_sroll .form-group {
      width: 93%;
  }
  .form_sroll {
      overflow: auto;
      overflow-y: scroll;
      height: 41vh;
  }
  
  .form_sroll::-webkit-scrollbar {
      width: 5px;
      height: 5px;
  }
  
  .form_sroll::-webkit-scrollbar-track-piece {
      background: #eee
  }
  
  .form_sroll::-webkit-scrollbar-thumb {
      background: #179FD7;
  }
  .c-img {
      background: #EEEEEE;
      width: 100%;
      max-width: 135px;
  }
  .k-cont {
      margin-left: 10px;
  }
  .iv h5.card-title.text-center {
      font-weight: 600;
      margin-top: 8px;
      font-size: 20px;
  }
  .page-c {
      min-height: 100vh;
      background: url('{{asset('images/front_images/subscription\ preview.png')}}') no-repeat;
  }
  
  .dash-r {
      min-height: 45px;
      display: flex;
      align-items: center;
      background: #179FD7;
  }
  
  .logo img {
      /* width: 188px;
      max-width: 180px;  */
      background: #fff;
      margin-left: 85px;  
  }
  
  section.whole {
      margin: 20px 50px 25px 50px;
  }
  
  .t-c {
      display: flex;
      justify-content: space-between;
      margin: 20px 35px 0px 0px;
  }
  
  .cont {
      border: 1px solid #D4D4D4;
      width: 100%;
      height: 220px;
      max-width: 470px;
      padding: 15px;
      /* float: left; */
      margin: 30px 20px 20px 40px;
      border-radius: 10px;
      background: #F9F9F9;
  }
  
  .sc {
      display: flex;
      justify-content: space-between;
  }
  
  p#sub {
      text-align: left;
      font-size: 14px;
  }
  
  .promo {
      display: flex;
      padding: 0px; 
  }
  h6#sp {
      color: #179FD7;
      font-size: 18px;
  }
  input#apply_coupon_code {
      border-radius: 8px 0px 0px 8px;
      background: #F9F9F9;
      padding: 0px 63px 0px 10px;
      max-width: 255px;
      border: 1px solid #179FD7;
      outline: none !important;
  }
  
  .blue_btn-2 {
      width: 90px;
      min-width: 140px;
      height: 40px;
      margin-right: 40px;
      background: #179FD7;
      border-radius: 0px 5px 5px 0px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
  }
  
  .total {
      border: 1px solid #D4D4D4;
      width: 100%;
      max-width: 410px;
      padding: 15px;
      /* float: left; */
      margin: 30px 20px 20px 40px;
      border-radius: 10px;
      background: #F9F9F9;
  }
  .total-card {
        margin: 30px 0px 20px 85px;
    }
  .total-card-reg{
        margin:30px 20px 20px 40px;
    }
    .card-tot-split {
        display: flex;
    }
    .card-tot-split-reg {
        display: flex;
        justify-content: space-between;
    }
    div#shared_list table th {
    padding: 10px;
    }
  
  .total p {
      text-align: left;
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
      font-weight: 600;
  }
  
  .login_plan h3,
  p {
      text-align: center;
      font-size: 14px;
    
  }
  
  p#tot-b {
    /*border-bottom: 2px solid;*/
    /*padding: 20px 0px 0px 0px;*/
    border-bottom: 2px solid;
    padding: 20px 0px 25px 0px;
  }
  
  p#tot-c {
      border-bottom: 2px solid;
      padding: 20px 0px 20px 0px;
  }
  p#tot-o {
     border-bottom: 2px solid;
      padding: 20px 0px 20px 0px;
  }
  .total-card p#tot-b {
    border-bottom: 2px solid;
    padding: 20px 0px 20px 0px;
}
  /* span {
      margin-left: 15px;
      font-weight: bold;
  } */
  
  .bi,
  .pm {
      margin: 30px 20px 20px 40px;
  }
  
  h5#sp {
      color: #179FD7;
      font-size: 18px;
      margin-bottom: 15px;
  }
  
  div#fl {
      margin-bottom: 15px;
  }
  
  #fl {
      position: relative;
  }
  input#b-inp\ cvv{
      border-radius: 5px;
      background: #F9F9F9;
      height: 40px;
      background:url('{{asset('images/front_images/queston.png')}}') 95% no-repeat ;
      margin-right: 10px;
      width: 230px;
      padding: 0px 20px;
      border: 1px solid #D4D4D4;
  }
  input#b-inp {
      border-radius: 5px;
      background: #F9F9F9;
      height: 40px;
      margin-right: 10px;
      width: 230px;
      padding: 0px 20px;
      border: 1px solid #D4D4D4;
  }
  select#b-inp {
      border-radius: 5px;
      background: #F9F9F9;
      height: 40px;
      margin-right: 10px;
      width: 230px;
      padding: 0px 20px;
      color: #766e6e;
      border: 1px solid #D4D4D4;
  }
  input#p-inp\ ca{
      border-radius: 5px;
      background: #F9F9F9;
      height: 40px;
      background:url('{{asset('images/front_images/card.png')}}') 98% no-repeat ;
      width: 100%;
      max-width: 473px;
      margin-bottom: 10px;
      padding: 0px 20px;
      border: 1px solid #D4D4D4;
  }
  input#p-inp {
      border-radius: 5px;
      background: #F9F9F9;
      height: 40px;
      /* background:url("../images/card.png") 95% no-repeat ; */
      width: 100%;
      max-width: 473px;
      margin-bottom: 10px;
      padding: 0px 20px;
      border: 1px solid #D4D4D4;
  }
  
  h5#sp {
      color: #179FD7;
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: 600;
  }
  
  div#sb {
      background: #F9F9F9;
      width: 100%;
      max-width: 475px;
      border-radius: 8px;
      height: 45px;
      border: 1px solid #D4D4D4;
      padding: 6px;
      margin-bottom: 15px;
  }
  div#change_btn {
      margin-left: auto;
  }
  div#change_btn {
      margin-top: 40px;
  }
  button.btn.change_plan_btn.mb-lg-0.mb-3 {
      margin-right: 15px;
  }
  .c-c {
      position: relative;
  }
  .long-filter{
    flex-wrap: wrap;
  }
  .button_lp {
      max-width: 67%;
      padding: 0px 0px 30px 0px;
      margin-left: auto;
      margin-top: 70px;
  }
  .list-filter-div input,.list-filter-div select.form-pik-er{
    width: 160px !important;
    
  }
    .long-filter .distict_btn.list-filter {
        margin-top: 10px;
    }

    .more-list-filter  input,  .more-list-filter select.form-pik-er{
    width: 180px !important;
   flex-wrap: wrap;
    margin-bottom: 15px; 
  }
  .more-list-filter {    
    flex-wrap: wrap !important;
    align-items: baseline  !important;
  }
  
  .button_lp .white_btn {
      width: 230px;
      height: 35px;
      background: transparent;
      border: 1.5px solid #959292;
      box-sizing: border-box;
      border-radius: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-right: 10px;
      text-align: center;
      text-transform: capitalize;
  }
  button.fr {
      background: #C4C4C4;
      width: 100%;
      max-width: 60px;
      border-radius: 8px;
      border-color: transparent;
  }
  .button_lp .blue_btn {
      width: 230px;
      height: 35px;
      margin-right: 40px;
      background: #179FD7;
      border-radius: 5px;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
  }
  
  img.cc {
      position: absolute;
      bottom: 20px;
      left: 320px;
  }
  
  img.cvv {
      position: absolute;
      bottom: 10px;
      left: 320px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .logo.logo-1.text-center img {
      width: 100%;
      max-width: 385px;
      margin-bottom: 30px;
  }
  span.invalid-feedback {
      font-size: 11px;
      font-weight: 400;
      display: block;
  }
  span.fa.fa-fw.field-icon.toggle-password.fa-eye,span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash {
      position: absolute;
      right: 10px;
      bottom: 17px;
  }
  .success_payment p{
      color: green;
      font-size: 30px;
  }
  section.success_payment {
      margin: 170px 50px 25px 50px;
  }
  #percent_val{
      margin-right: 160px;
  }
  .payment_logo img {
      width: 100%;
      max-width: 212px;
  }
  .cust-body {
      padding-top: 0px !important;
  }
  .pop-cont {
      width: 100%;
      max-width: 380px;
  }
  button.close.cl {
      text-align: end;
      padding-right: 10px;
  }
   .box label {
      width: 100%;
      padding: 10px 0px 10px 3px;
      font-weight: 500;
      font-size: 19px;
      line-height: 19px;
      color: #8F9187;
  }
  .box .form-input {
      width: 345px;
      height: 40px;
      padding-left: 10px;
      background: #FFFFFF;
      color: #626361;
      border: 1px solid #B7B7B7;
      box-sizing: border-box;
      border-radius: 5px;
  }
  .button_sec {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0px 0px 30px 0px;
      border-radius: 0px 0px 10px 10px;
  }
  .button_sec .ok_btn {
      width: 85px;
      height: 35px;
      margin-right: 40px;
      background: #F3F7F9;
      border: 1.5px solid #959292;
      box-shadow: 0px 9px 20px rgb(0 0 0 / 20%);
      border-radius: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #2E3024;
  }
  .button_sec .cancel_btn {
      width: 85px;
      height: 35px;
      background: #F3F7F9;
      border: 1.5px solid #959292;
      box-sizing: border-box;
      box-shadow: 0px 9px 13px rgb(0 0 0 / 20%);
      border-radius: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
  }
  .enterprise_plan{
      max-width: 375px;
      box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 12%);
  }
  #sub span#dol {
      margin-left: 0px !important;
  }
  .alert_payment_err {
      margin: 0px 55px 0px 40px;
  }
  .btn.blue_btn-2.coupon_apply {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      background: #179FD7;
      border-radius: 0px 8px 8px 0px;
  }
  #wrapper #main-page-wrapper .main_part .color_card_section .card.theme_active {
      border: 2px solid #12A0D9;
  }
  .success.form-group{padding-left:0!important;}
  button.fr {
      width: auto !important;
      max-width: unset !important;
  }
  
  /* .default_theme #wrapper .list-group.list-group-flush li:hover{
      background: #008CC5;
  } */
  .default_theme #wrapper .list-group.list-group-flush li:hover a{
      /* background-color: unset!important; */
  }
  /* 
  .default_theme #wrapper .left-navn .flow_chart_part.active a {
      background-color: #12A0D9 !important;
  } */
  a:hover {
      text-decoration: unset !important;
  }
  
  .card.main_add div#load_item {
      display: block;
      top: 100%;
      width: 160px;
      right: 0;
      position: absolute;
  }
  .card.main_add #load_item ul {
      display: block;
  }
  
  
  .filter
  {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .filter {
      padding: 0px !important;
  }
  button.btn.filter-btn
  {
      background: #179FD7;
      color: #fff;
  }
  
  /* .collapse:not(.show) {
      display: block !important;
  } */
  
  #wrapper .left-navn .list-group li:hover, .active div#collapseExample1,#wrapper .left-navn .list-group li:hover, .active div#collapseExamplerole1 ,#wrapper .left-navn .list-group li:hover, .active div#collapseExample3,#wrapper .left-navn .list-group li:hover, .active div#collapseExample2 ,#wrapper .left-navn .list-group li:hover, .active div#collapseExample4 {
      display: block;
  }
   /* #wrapper .left-navn .list-group li.flow_chart_part li:hover a {
      color: #fff !important;
  } */
  /* .dashboard-theme .Dashboard_second .list_dashboard:hover, li {
      background: #54678B;
  } */
  /* #wrapper .left-navn .flow_chart_part.active li.flow-menus a {
      background: none;
  } */
  
  
  .list-group.list-group-flush {
      background-color: white !important;
  }
  #wrapper .left-navn .list-group li.active a{}
  
  
  span.fa-eye-icon {
      vertical-align: sub;
  }
  
  .col.boxtheme {
      flex-grow: unset;
      /*margin-right: 30px;*/
  }
  
  .name-title{
      color: #179FD7;
  }
  .active-class
  {
  
      /* color: #252B2E !important; */
      font-weight: bold;
  }
  i.fa.fa-caret-down {
      padding-left: 30px;
  }
  
  /* li.active a.pl-5.active-class {
      color: #fff !important;
  } */
  #wrapper .left-navn .list-group li.flow_chart_part .navbra-nav li.active a {
      /* color: #008cc5 !important; */
      border-left: 0;
  }
  /* li.sidebar-dropdown.flow_chart_part.active > a {
      background: #008cc5;
  } */
  div#wrapper .flow_chart_part.active a {
      /* color: #fff ; */
  }
  
  div#wrapper .flow_chart_part.active .font-active a
  {
      color: #fff !important; 
  }
  
  #wrapper .flow_chart_part.active .navbra-nav li a {
      color: rgba(42, 42, 42, 0.7) ;
  }
  #notification_data p{
      color: #000 !important;
  }
  .select2-selection.select2-selection--multiple {
      margin: 0px !important;
  }
  .select2-container{
      /*width: 462px !important;
      height: 35px !important;*/
    width: unset !important;
  }
  .zip-btn .promo {
      padding-left: 0px !important;
  }
  
  .modal-confirm {        
      color: #636363;
      width: 400px;
  }
  .modal-confirm .modal-content {
      padding: 20px;
      border-radius: 5px;
      border: none;
      text-align: center;
      font-size: 14px;
  }
  .modal-confirm .modal-header {
      border-bottom: none;   
      position: relative;
  }
  .modal-confirm h4 {
      text-align: center;
      font-size: 26px;
      margin: 30px 0 -10px;
  }
  .modal-confirm .close {
      position: absolute;
      top: -5px;
      right: -2px;
  }
  .modal-confirm .modal-body {
      color: #999;
  }
  .modal-confirm .modal-footer {
      border: none;
      text-align: center;     
      border-radius: 5px;
      font-size: 13px;
      padding: 10px 15px 25px;
  }
  .modal-confirm .modal-footer a {
      color: #999;
  }       
  .modal-confirm .icon-box {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      z-index: 9;
      text-align: center;
      border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
      color: #f15e5e;
      font-size: 46px;
      display: inline-block;
      margin-top: 13px;
  }
  .modal-confirm .btn, .modal-confirm .btn:active {
      color: #fff;
      border-radius: 4px;
      background: #60c7c1;
      text-decoration: none;
      transition: all 0.4s;
      line-height: normal;
      min-width: 120px;
      border: none;
      min-height: 40px;
      border-radius: 3px;
      margin: 0 5px;
  }
  .modal-confirm .btn-secondary {
      background: #c1c1c1;
  }
  .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
      background: #a8a8a8;
  }
  .modal-confirm .btn-danger {
      background: #f15e5e;
  }
  .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
      background: #ee3535;
  }
  .trigger-btn {
      display: inline-block;
      margin: 100px auto;
  }
  /*select.form-pik-er {
   width: 180px !important;
  }*/

.filter_by_sec {
  display: flex;
  align-items: baseline;
  padding: 20px 0px;
}
  .filter_by_sec select {
  padding: 0px 20px;
  width: 250px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #b4b4b4;
  /*-webkit-appearance: none;*/
  background: url('../images/select_down_arrow.png') no-repeat 95%;
  margin-right: 40px;
  margin-bottom: 10px
}

.distict_btn .blue_btn {
    width: 80px;
    height: 40px;
    background: #179FD7;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #fff; 
  }
  .cmt-popup {
    text-align: left;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px !important;
  }
  div#comment_list h5 {
      text-align: left;
  }
  .cmts {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 25px; 
  } 
  .lbl_text h5 {
    text-align: left;
  }
.card.mr-4.plandet{
    /*min-height: 268px;*/
  }
 
  span.select2-dropdown.select2-dropdown--below {
    margin-left: 0px;
}
.select2-results__option--selectable {
    cursor: pointer;
    font-weight: 500;
    color: #837F98;    
}
.selection {
    /*margin-bottom: 20px !important;*/
    display: block;
    margin-left: 0;
    width: 465px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
 
    font-weight: 500;
     color: #837F98;  
}
.fc_status{
  margin-left: 0;
}
.see_more{
  padding-left: 10px;
  font-kerning: 15px;
  color: blue;
}
.see_more:hover{
  text-decoration: underline;
  cursor: pointer;
}
.role-share-input{
  width: 100% !important;
}
.plandet{
  height: 350px !important;
}
p.desc_plan {
    margin-bottom: 0px;
}

a.see-more-plan {
    width: 100%;
    text-align: center;
    float: left;
    font-size: 13px;
}
p#tot-b {
    white-space: nowrap;
}

input#fc_name {
    margin-bottom: 15px !important;
}
td.tax_amt_td {
    text-align: right;
}
span#tax_val ,span#tax_percentage {
    font-size: 14px;
    margin-bottom: 5px;
}
td{
  font-weight: 600; 
}
table.state_tax_tbl tr {
    border: none !important;
    line-height: 1.5;
}
#shared_list table td { 
  padding: 5px 10px;
} 
.button_section-c .cancel_registration {
height: 45px;
margin-top: 30px;
margin-right: 60px;
background: #179FD7;
border-radius: 5px;
font-weight: 600;
font-size: 15px;
width: 70%;
max-width: 100px;
text-align: center;
text-transform: capitalize;
color: #fff;
float: right;
margin-bottom: 30px;  
}
div#popup-submenu.toggled {
    position: absolute;
    top: 56px;
    right: 30px;
    display: block;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px 7px rgb(0 0 0 / 10%);
    border-radius: 5px !important;
}
div#popup-submenu {
    display: none;
}
div#submenu-popup-clk {
    border-radius: 10px !important;
    width: 100% !important;
    margin-top: 40px;
}
.right-align-submenu{
  float: right !important;
}
.sm-btn:hover{ 
    background: gray;
    color: white; 
}
button.btn.sm-btn {
    padding: 12px;
    color: #0000008f;
}
button.btn.sm-btn:hover {
    color: #fff;
}
.input_model_select {
    margin-top: 20px;
}

/*scroll*/
.notify_content {overflow-y: auto;min-height: 150px;
    max-height: 250px;}
.notify_content::-webkit-scrollbar {width: 4px;}  
.notify_content::-webkit-scrollbar-track {background:  #a8a6a6;}
.notify_content::-webkit-scrollbar-thumb {background: #888;}  
/* .main_wrappar  table::-webkit-scrollbar-thumb:hover {background: #f2f2f2; } */
 
.display-comment {overflow-y: auto;
    min-height: 100px;
    max-height: 300px;}
.display-comment::-webkit-scrollbar {width: 4px;}  
.display-comment::-webkit-scrollbar-track {background:  #a8a6a6;}
.display-comment::-webkit-scrollbar-thumb {background: #888;} 

.modal-dialog.modal-confirm .modal-body {
    padding: 0px;
}

div#submenu-popup-clk .FC_title {
    width: 150px ; 
    height: 34px;
    background: #179FD7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.notify_para h3 a {
    color: #000000 !important;
}
.fc_det li a {
    color: #000000 !important;
}

.view_all_main{
  height: 100%;
}
.view_all_main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0px;
    color: #12A0D9;
    font-size: 20px;
    font-weight: 600;
}
.view_all_main.proj h1 {
    padding: 15px 10px;
    font-size: 18px;
}

.right_section input[type="password"]::-ms-reveal,
.right_section input[type="password"]::-ms-clear {
  display: none;
}
.main_part img.card-img-top {
    width: 100%;
    height: 121px;
    max-width: 180px;
}
