/* LOG IN SECTION */

@media only screen and (max-width:768px) {
    .page-inner,
    .page-inner-fg {
        padding: 80px 40px 40px 40px;
    }
    .backgrd-sec {
        width: 90%;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        position: unset;
        height: 10px;
    }
}

@media only screen and (max-width:600px) {
    .page-inner,
    .page-inner-fg {
        padding: 80px 20px 40px 20px;
    }
    .login-sec form {
        margin: 30px 20px;
    }
    form.form-group.mar-btm.min-hei {
        margin: 30px 20px 30px 20px;
        padding: 0px 5px
    }
    .login-sec form p {
        font-size: 16px;
    }
    .fg-txt {
        margin-top: 50px !important;
    }
}


/* LOG IN SECTION */


/* side menu */

@media only screen and (min-width:1200px) and (max-width:1300px) {
    .set-sc label {
        margin-top: 10px;
    }
    select.sel-txt.wth {
        margin-right: 15px;
    }
    button.snt-btn {
        width: 175px;
    }
    button.cel-btn {
        width: 175px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .set-sc label {
        margin-right: 13px;
    }
    select.sel-txt.wth {
        width: 220px;
        margin-right: 10px;
    }
    button.cel-btn {
        width: 120px;
    }
    button.snt-btn {
        width: 120px;
        margin-right: 5px;
    }
    .login-hd-left h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width:897px) and (max-width:991px) {
    .set-sc label {
        margin-right: 10px;
    }
    select.sel-txt.wth {
        width: 190px;
        margin-right: 5px;
    }
    button.cel-btn {
        width: 120px;
    }
    button.snt-btn {
        width: 120px;
        margin-right: 5px;
    }
    .login-hd-left h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width:991px) {
    .set-sc label {
        margin-right: 13px;
    }
    select.sel-txt.wth {
        width: 220px;
        margin-right: 10px;
    }
    button.cel-btn {
        width: 120px;
        height: 40px;
    }
    button.snt-btn {
        width: 120px;
        margin-right: 5px;
        height: 40px;
    }
    .login-hd-left h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width:768px) and (max-width:896px) {
    .set-sc {
        width: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .w-bg-sc {
        justify-content: center;
    }
    select.sel-txt.wth {
        margin: 0px 0px 10px 0px;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .login-hd-details {
        width: 92%;
    }
    .dash-right {
        position: relative;
    }
    .menu-ico-g {
        position: absolute;
        right: 15px;
        top: 21px;
    }
    #sidebar {
        position: fixed;
        z-index: 2;
    }
    .page-wrapper.hide #sidebar {
        transform: translateX(0px);
    }
    .page-content {
        padding-left: 0px;
    }
    .page-wrapper #sidebar {
        transform: translateX(-320px);
    }
    .set-sc {
        width: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .w-bg-sc {
        justify-content: center;
    }
    select.sel-txt.wth {
        margin: 0px 0px 10px 0px;
    }
}

@media only screen and (min-width:320px) and (max-width:710px) {
    .login-hd-details {
        flex-direction: column;
    }
    .login-hd-left h2 {
        font-size: 18px;
        margin: 10px 0px;
    }
    .bell_top {
        right: 10px !important;
    }
    .nav_right {
        margin: 10px 0px;
    }
    .nav_bell {
        padding-right: 10px;
        margin-right: 10px;
    }
    .table-det.user-tb {
        margin-top: 20px;
    }
    .set-sec-btn {
        display: flex;
        justify-self: center;
        align-items: center;
    }
    button.cel-btn {
        margin-left: 20px;
    }
    /* button.snt-btn,button.cel-btn{width: 110px;} */
}

@media only screen and (max-width:768px) {
    .menu-ico-g span:nth-child(1) {
        transform: rotateZ( 0deg) translate(0px, 0px);
    }
    .menu-ico-g span {
        transition: all linear 0.30s;
    }
    .menu-ico-g span:nth-child(1) {
        transform: rotateZ(0deg) translate(0px, 0px);
    }
    .menu-ico-g span:nth-child(2) {
        display: block;
    }
    .menu-ico-g span:nth-child(3) {
        transform: rotateZ(0deg);
    }
    /*  .menu-ico-g.mb-ic span:nth-child(1) {
        transform: rotateZ(45deg) translate(5px, 6px);
    } */
    /*  .menu-ico-g.mb-ic span:nth-child(2) {
        display: none;
    } */
    /* .menu-ico-g.mb-ic span:nth-child(3) {
        transform: rotateZ(-43deg) translate(-1px, 0px);
    } */
}

.button_section .blue_btn {
    margin-right: 12px;
}

.button_section {
    margin: 0;
}

@media only screen and (max-width:360px) {
    .inner-wrapper-g {
        padding: 15px;
    }
    .login-hd-details {
        width: 100%;
    }
    .login-hd-left h2 {
        font-size: 16px;
    }
    .profile_nav_text h1 {
        font-size: 14px;
    }
    .profile_nav_text h2 {
        font-size: 13px;
    }
    .menu-ico-g {
        position: absolute;
        right: 10px;
        top: 17px;
    }
    .page-wrapper #sidebar {
        transform: translateX(-280px);
    }
    #sidebar {
        width: 280px;
    }
}


/* sidemenu */

@media only screen and (min-width: 1900px) and (max-width: 1920px) {
    .slider:before {
        top: 2px;
        left: 2px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1370px) {
    /* .pr-la-in span div{right: 42px;} */
    .pr-la-in input {
        padding: 10px 15px 10px 20px;
    }
    .pr-la-in select,
    .pr-la-in input {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .for-btn {
        height: 45px;
    }
    .filter_by_sec select,
    .filter_by_sec input {
        width: 190px;
        margin-right: 20px;
        padding: 0px 10px;
        font-size: 13px;
        height: 40px;
        background-size: 12px;
    }
    /* .pr-la-in textarea{max-width: 85%;} */
    /* .pf-sc{max-width: 85%;} */
    select.sel-txt {
        font-size: 15px;
        padding: 10px 25px;
        background-size: 14px;
    }
    .dashboard_first .part_main h1 {
        font-size: 14px;
    }
    .chart_flex_Wrap h1.pb_20 {
        font-size: 14px !important;
    }
    .header_left h1 {
        margin: 25px 0px 0px 25px;
        font-size: 16px;
    }
    .chart_flex_Wrap .width_30,
    .chart_flex_Wrap .width_50 {
        margin: 10px 0px;
        padding: 10px 15px;
    }
    .dashboard_head h1 {
        padding-top: 20px;
        font-size: 15px;
        padding-left: 20px;
    }
    .login-hd-left h2 {
        font-size: 16px;
    }
    .menu-ico-g span {
        margin-bottom: 3px;
    }
    .menu-ico-g {
        width: 20px;
        height: 20px;
    }
    .pro-txt h1 {
        font-size: 16px;
    }
    .pro-txt p {
        font-size: 12px;
    }
    .profile_nav_text h1 {
        font-size: 14px;
    }
    .profile_nav_text h2 {
        font-size: 12px;
        padding-top: 3px;
    }
    .dash-right {
        min-height: 65px;
    }
    .dash-left {
        padding: 0px 0px;
    }
    .pro-sec {
        padding: 10px;
    }
    .pro-sec img {
        width: 55px;
    }
    .db-lit-sc {
        padding-top: 1px;
    }
    .categories li {
        padding: 15px 0px 14px 25px;
    }
    .categories li a {
        font-size: 14px;
    }
    .page-content .dash-right {
        padding-left: 20px;
        padding-right: 20px;
    }
    .inner-wrapper-g {
        padding: 15px 20px 0px 20px;
    }
    .ds-hd-sc h1 {
        font-size: 14px;
    }
    .main_content .main_head h1 {
        font-size: 16px;
    }
    .distict_btn button {
        font-size: 14px;
    }
    .w-bg {
        padding: 15px 20px;
    }
    .distict_table thead tr th {
        font-size: 14px;
    }
    .table-entries span {
        font-size: 14px;
    }
    .table-pagination ul li,
    .table-pagination ul li a {
        font-size: 14px;
    }
    .pr-la-in select,
    .pr-la-in input {
        font-size: 15px;
        margin: 5px 0px 20px 0px;
    }
    .button_section .white_btn,
    .button_section .green_btn {
        font-size: 14px;
    }
    .product_btn button {
        font-size: 14px;
    }
    .form_input_main label {
        padding: 20px 0px 10px 20px;
        font-size: 14px;
    }
    .category_select select {
        font-size: 14px;
    }
    .pr-la-in span div {
        top: 6px;
    }
    button.ret-btn a {
        font-size: 15px;
    }
    .chart_legend canvas {
        left: -70px !important;
    }
    .chart_legend ul li {
        font-size: 10px;
        margin-bottom: 15px;
    }
    .login-sec img {
        margin: 40px auto auto;
    }
    .login-sec h1 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .login-sec form {
        margin: 5px 100px 50px;
    }
    .login-sec form input {
        font-size: 15px;
        padding: 10px 40px 10px 25px;
        margin-bottom: 20px;
    }
    .login-bx svg {
        top: -1px;
        width: 20px;
    }
    .login-sec h1 span {
        margin-left: 8px;
    }
    .cus-chckbox label {
        font-size: 15px !important;
    }
    .cus-chckbox label:before {
        padding: 8px;
    }
    .for-btn a {
        font-size: 16px;
    }
    .login-sec form p {
        margin: 30px 0px 20px 0px;
    }
    .login-sec form h4 a {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .filter_by_dash_main input {
        font-size: 14px;
        padding: 10px 10px;
    }
    .save_form {
        height: 40px;
        font-size: 15px;
    }
    .profile-main a {
        font-size: 14px;
    }
    .profile-main .btn-reply {
        padding: 5px 45px !important;
    }
    .pr-la-in select,
    .pr-la-in input {
        background-size: 13px;
    }
    .profile_nav_text span img {
        width: 12px;
    }
    .pr-la-in label {
        font-size: 12px;
    }
}

@media screen and (max-width: 1600px) {
    .distict_table tr td label.switch {
        width: 47px;
        height: 22px;
        top: 4px;
    }
    .distict_table tr td label.switch .slider:before {
        height: 16px;
        width: 16px;
        left: 3px;
        top: 3px;
    }
    .form_input_main select,
    .form_input_main .form_input {
        width: 100% !important;
        height: 40px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1199px) {
    .filter_by_sec {
        display: block;
        padding: 0px;
    }
    .main_content .main_head h1 {
        margin-bottom: 10px;
        padding-right: unset;
    }
    /*  .button_section{
        padding-bottom: 11px;
    } */
    .forum-profile {
        padding: 0px 27px;
    }
    .save_form {
        margin-left: 0px !important;
        width: 100%;
    }
    .table-footer {
        text-align: center;
    }
    .table-pagination ul {
        justify-content: center;
    }
    .set-sec-btn {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .filter_by_sec select {
        background-size: 13px;
        font-size: 15px;
    }
    .sugg_head {
        width: 100%;
        float: left;
    }
    .distict_btn.width_193 {
        width: 193px !important;
    }
    .distict_btn.width_170 {
        width: 168px !important;
    }
    .dashboard_first .part_main h1 {
        font-size: 14px;
    }
    .chart_flex_Wrap h1.pb_20 {
        font-size: 14px !important;
    }
    .header_left h1 {
        margin-top: 5px;
        font-size: 16px;
    }
    .chart_flex_Wrap .width_30,
    .chart_flex_Wrap .width_50 {
        margin: 10px 0px;
        padding: 10px 15px;
    }
    .dashboard_head h1 {
        padding-top: 20px;
        font-size: 14px;
        padding-left: 20px;
    }
    .login-hd-left h2 {
        font-size: 16px;
    }
    .menu-ico-g span {
        margin-bottom: 3px;
    }
    .menu-ico-g {
        width: 20px;
        height: 20px;
    }
    .pro-txt h1 {
        font-size: 16px;
    }
    .pro-txt p {
        font-size: 12px;
    }
    .profile_nav_text h1 {
        font-size: 14px;
    }
    .profile_nav_text h2 {
        font-size: 12px;
        padding-top: 3px;
    }
    .dash-right {
        min-height: 65px;
    }
    .dash-left {
        padding: 10px 0px;
    }
    .pro-sec {
        padding: 10px;
    }
    .pro-sec img {
        width: 55px;
    }
    .db-lit-sc {
        padding-top: 15px;
    }
    .categories li {
        padding: 15px 0px 14px 25px;
    }
    .categories li a {
        font-size: 14px;
    }
    .page-content .dash-right {
        padding-left: 20px;
        padding-right: 20px;
    }
    .inner-wrapper-g {
        padding: 15px 20px;
    }
    .ds-hd-sc h1 {
        font-size: 14px;
    }
    .main_content .main_head h1 {
        font-size: 16px;
        padding-top: 10px;
        width: auto;
        /* width: 100%; */
    }
    .distict_btn button {
        font-size: 14px;
    }
    .w-bg {
        padding: 15px 20px;
    }
    .distict_table thead tr th {
        font-size: 14px;
    }
    .table-entries span {
        font-size: 14px;
    }
    .table-pagination ul li,
    .table-pagination ul li a {
        font-size: 14px;
    }
    .pr-la-in select,
    .pr-la-in input {
        font-size: 15px;
        margin: 5px 0px 15px 0px;
    }
    .pr-la-in select {
        background-size: 12px;
    }
    .button_section .white_btn,
    .button_section .green_btn {
        font-size: 14px;
        width: 150px;
    }
    .product_btn button {
        font-size: 14px;
    }
    .form_input_main label {
        padding: 20px 0px 10px 20px;
    }
    .category_select select {
        font-size: 13px;
        background-size: 12px;
        width: 145px;
    }
    .pr-la-in span div {
        top: 6px;
    }
    button.ret-btn a {
        font-size: 15px;
    }
    canvas#myChart {
        width: 100% !important;
    }
    .login-sec>img {
        width: 130px;
        margin: 25px auto auto;
    }
    .login-sec h1 {
        font-size: 17px;
        margin: 10px 0px;
    }
    .login-sec form label {
        font-size: 13px !important;
        margin-top: 5px;
    }
    .login-sec form label a {
        font-size: 12px !important;
        margin-top: 5px;
    }
    .login-sec form input {
        padding: 10px 15px 10px 10px;
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 0px;
    }
    .login-sec form {
        margin: 15px;
    }
    .cus-chckbox label:before {
        padding: 7px;
        margin-right: 10px;
        border-radius: 3px;
    }
    .cus-chckbox input:checked+label:after {
        top: 6px;
        left: 7px;
        width: -1px;
    }
    .login-bx svg {
        top: -1px;
        width: 20px;
    }
    .for-btn {
        height: 35px;
    }
    .for-btn a {
        font-size: 14px;
    }
    .login-sec form p {
        margin: 10px 0px 10px;
        font-size: 14px;
    }
    .login-sec form h4 a {
        font-size: 13px;
    }
    form.form-group.mar-btm.min-hei {
        margin: 10px;
    }
    select.sel-txt {
        padding: 5px 12px 5px 10px;
        font-size: 13px;
        margin-bottom: 13px;
    }
    .sing-sec-txt p {
        font-size: 15px;
        margin: 10px 0px 10px 0px;
    }
    .sing-sec-txt h4 a {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .page-inner,
    .page-inner-fg {
        padding: 70px 10px 40px 10px;
    }
    .login-sec {
        width: 100%;
    }
    .filter_by_dash_main input {
        font-size: 14px;
        padding: 10px 10px;
    }
    .btn_distict_width {
        width: 128px !important;
    }
    .pr-la-in input {
        padding-left: 10px;
    }
    .profile-main a {
        font-size: 14px;
        margin-left: 0px;
    }
    .profile-main h2 {
        font-size: 14px;
        padding-right: 5px;
    }
    .profile-main p {
        font-size: 12px;
    }
    .profile-main .btn-reply {
        padding: 3px 24px !important;
        font-size: 14px;
    }
    .profile_nav_text span img {
        width: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .filter_by_sec select,
    .filter_by_sec input {
        width: 48%;
        margin-right: 9px;
        margin-bottom: 10px;
    }
    .inner-wrapper-g {
        padding: 20px;
    }
    .form_input_main select,
    .form_input_main .form_input {
        width: 100% !important;
        padding-left: 15px;
        font-size: 13px;
    }
    .form_main .profile-sec {
        height: unset;
    }
    .profile-main p {
        font-size: 14px;
    }
    .profile-main h2 {
        font-size: 14px;
        padding-left: 15px !important;
    }
    .form_message input {
        width: 88%;
        margin-right: 10px;
    }
    .form_message img {
        width: 50px;
    }
    .chart_legend ul {
        padding-left: 37% !important;
    }
    .tab_section {
        display: block;
    }
    .tab_text {
        display: inline-block;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .filter_by_sec select,
    .filter_by_sec input {
        width: 100% !important;
        margin: 5px 0px;
        font-size: 12px;
        height: 40px;
    }
    .menue_first_head {
        display: block;
    }
    .distict_btn {
        width: 130px;
        margin-top: 10px;
    }
    .table-footer {
        display: block;
    }
    .table-pagination ul li {
        margin-right: 8px;
    }
    .table-pagination ul {
        padding-left: 0px;
        margin-top: 10px;
    }
    .inner-wrapper-g {
        padding: 10px;
    }
    .w-bg {
        padding: 15px;
    }
    .form_input_main select,
    .form_input_main .form_input {
        width: 100% !important;
    }
    .button_section .green_btn {
        width: 140px;
        height: 40px;
        margin-right: 20px;
    }
    .button_section .white_btn {
        height: 40px;
        width: 140px;
    }
    .filter_by_dash_main {
        display: block;
    }
    .filter_by_dash_main h1 {
        width: 100%;
    }
    .filter_by_dash_main input {
        width: 100%;
    }
    .popup-window {
        max-width: 95% !important;
    }
    .form_message input {
        width: 83%;
        padding: 8px 25px;
        margin-right: 10px;
        font-size: 12px;
    }
    .form_message img {
        width: 30px;
    }
    .profile-main a {
        padding-bottom: 0px !important;
    }
    .form_main .profile-sec2 {
        padding: 10px;
    }
    .form_main .cmt-3 {
        padding-left: 0px;
    }
    ul.nav.nav-tabs {
        display: inline-block;
    }
}


/* 5A_Dashboard start */

@media screen and (min-width:992px) and (max-width:1500px) {
    .dashboard_first .part_main h1 {
        font-size: 14px;
    }
    .chart_legend ul li {
        font-size: 10px;
    }
}

@media screen and (min-width:992px) and (max-width:1280px) {
    .chart_flex_Wrap>div {
        width: 48% !important;
    }
}

@media screen and (max-width:991px) {
    .chart_flex_Wrap>div {
        width: 100% !important;
    }
    .chart_flex_Wrap {
        flex-direction: column;
    }
    .chart_legend ul li {
        display: flex;
        width: 100%;
        /* justify-content: center; */
    }
    .chart_legend ul {
        position: unset;
        width: 100%;
        transform: unset;
        right: unset;
        padding-left: 20%;
    }
}

@media screen and (min-width:991px) {
    .chart_legend canvas {
        position: relative;
        left: -95px;
    }
}


/* 5A_Dashboard end */


/* AJITH START */

@media only screen and (min-width:320px) and (max-width:767px) {
    .btn-centr {
        max-width: 240px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:767px) and (max-width:1200px) {
    .custom-body button {
        width: 195px;
        font-size: 16px;
    }
    .profile-main .btn-reply {
        padding: 5px !important;
        margin: 10px !important;
        width: 80px !important;
    }
    .profile-main .show-reply {
        padding: 0px !important;
        font-size: 14px;
        margin-left: 5px;
    }
    .profile-main h2 {
        font-size: 14px;
        padding-left: 15px !important;
    }
    .profile-main p {
        font-size: 14px;
    }
    .form_main .profile-sec {
        height: unset;
    }
    .form_input_main .cus-btn {
        width: 100% !important;
        margin: 0px auto;
    }
}

@media only screen and (min-width:990px) and (max-width:1450px) {
    .form_input_main h6 {
        width: 100px;
    }
    .profile-main h3 {
        padding-left: 6px;
    }
    /* .profile-main h6,h4{width: 130px;}     */
    .profile-main h5 {
        width: 130px;
        padding-left: 40px;
    }
    .profile-main .pad-res {
        padding-bottom: 10px !important;
    }
    .profile-main .forum-profile {
        padding-bottom: 20px;
        padding-bottom: 10px;
        padding-right: 4px !important;
        padding-left: 10px !important;
    }
}


/* 14A_Forum  */

@media only screen and (min-width: 320px) and (max-width: 560px) {
    .forum-profile {
        padding: 0px 10px;
        width: 50px;
    }
    .profile-name {
        width: 80px;
        margin-left: 20px;
    }
    .form_main .cmt-time {
        width: 80px;
        padding-top: 0px;
        margin-left: 57px;
    }
    .form_main .time-2 {
        margin-left: 20px;
    }
    .cmt-m {
        margin-left: 20px;
    }
    .form_main .save_form {
        width: 100%;
        margin-left: 0px !important;
        font-size: 14px;
        height: 40px;
    }
    .form_main .profile-input {
        width: 100% !important;
    }
    .form_main .send-msg {
        width: 80%;
    }
    .form_main .send-btn {
        width: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .profile-name {
        width: 100px;
        margin-left: 28px;
    }
    .cmt-2 {
        margin-top: 4px !important;
        margin-left: 10px;
    }
    .btn-res {
        width: 35%;
    }
    .reply-res {
        padding: 0px;
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .reply-3 {
        margin-left: 90px;
    }
    .form_main .cmt-time {
        margin-left: 80px;
    }

    .card.mr-4 {
        min-width: 205px !important;
        margin: 0px !important;
    }


    img.tick {
        left: 75px !important;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .filter_by_sec select,
    .filter_by_sec input {
        width: 100% !important;
    }
    .table-footer {
        display: block;
    }
    .table-entries {
        margin-bottom: 10px;
    }
    .main_content .main_head h1 {
        width: 100%;
    }
    .backgrd-sec {
        display: none;
    }
    .page-inner,
    .page-inner-fg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* landscape start */

@media only screen and (min-width:700px) and (max-width:850px) and (orientation: landscape) {
    .filter_by_sec select,
    .filter_by_sec input {
        width: 100% !important;
    }
    .table-footer {
        display: block;
    }
    .table-entries {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:790px) and (max-width:810px) {
    .form_message input {
        width: 83%;
    }
}


/* Portrait and Landscape iphone */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .distict_btn button {
        padding: 10px 6px;
    }
}

@media only screen and (max-width: 1440px){
.form-group .toggle-password {
    right: 10px;
    bottom: 17px;
}

#wrapper .main_part .card-section .card{min-width: 150px;}

} 


