
@font-face {
  font-family: 'Poppins';
  src: url('{{asset('fonts/Poppins-SemiBold.eot')}}');
  src: url('{{asset('fonts/Poppins-SemiBold.eot?#iefix')}}') format('embedded-opentype'),
      url('{{asset('fonts/Poppins-SemiBold.woff2')}}') format('woff2'),
      url('{{asset('fonts/Poppins-SemiBold.woff')}}') format('woff'),
      url('{{asset('fonts/Poppins-SemiBold.ttf')}}') format('truetype'),
      url('{{asset('fonts/Poppins-SemiBold.svg#Poppins-SemiBold')}}') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Poppins'; 
  src: url('{{asset('fonts/Poppins-Regular.eot')}}');
  src: url('{{asset('fonts/Poppins-Regular.eot?#iefix')}}') format('embedded-opentype'),
      url('{{asset('fonts/Poppins-Regular.woff2')}}') format('woff2'),
      url('{{asset('fonts/Poppins-Regular.woff')}}') format('woff'),
      url('{{asset('fonts/Poppins-Regular.ttf')}}') format('truetype'),
      url('{{asset('fonts/Poppins-Regular.svg#Poppins-Regular')}}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  
} 

html{ 
  font-family: 'Poppins', sans-serif !important;
 }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif !important;
}

ul {
    list-style-type: none;
}

button {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

.table_main_dist.table-responsive>span {
    display: none;
}

.tab-content>.active {
    display: inline;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

/* login */

.page-inner {
    position: relative;
    background: url('../images/banner-img.png')no-repeat #fff 100% 100%;
    background-size: cover;
    display: block;
    width: 100%;
    float: left;
    height: 100%;
    min-height: 100vh;
    padding: 80px 0px 40px 40px;
}

.login-sec {
    display: block;
    float: left;
    width: 660px;
    max-width: 100%;
    position: relative;
    background: url('../images/login-bak-img.png') #FAFBFD no-repeat;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-position: -20px -10px
}

.login-sec img {
    display: block;
    margin: 60px auto auto;
}

.login-sec h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;
    color: #3D4030;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 38px;
}

.login-sec h1 span {
    color: #818701;
    margin-left: 10px;
}

.login-sec form {
    margin: 30px 100px;
}

.login-sec form input {
    width: 100%;
    border: 1px solid #DFDFDF;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px 40px 15px 25px;
    outline: none;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #353631;
}

.login-sec form label,
.login-sec form label a {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8F9087;
}

.login_float_right {
    float: right;
}

.login-sec form label span a {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8F9087;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.for-btn {
    width: 100%;
    background: #B7BE11;
    height: 55px;
    border: none;
    border-radius: 5px;
}

.login-sec form p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 50px 0px 20px 0px;
    color: #7D7E76;
}

.login-sec form h4 a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3D4030;
    text-align: center;
    width: 100%;
    display: block;
}

.for-btn a {
    color: #2E3024;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.form-group button:hover {
    box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.2);
}

.login-sec form input:focus {
    box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.2);
    border: none;
}

.new {
    margin-bottom: 40px;
}

.login-bx {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50px;
    right: 13px;
    background: none;
    border: 0;
}

.eye-icon svg {
    position: relative;
    top: unset;
    left: unset;
}

.login-bx svg {
    position: absolute;
    left: -25px;
    top: 4px;
}

#pw-open {
    display: none
}

.cus-chckbox {
    display: block;
    margin-bottom: 15px;
}

.cus-chckbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.cus-chckbox label {
    position: relative;
    cursor: pointer;
    display: block !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 20px !important;
    color: #3D4030 !important;
    margin-left: 18px;
    margin-bottom: 0px !important;
}

.cus-chckbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #3D4030;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 18px;
    border-radius: 2px;
}

.cus-chckbox input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 5px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.cus-chckbox input:checked+label:before {
    background: #3D4030;
}

.backgrd-sec {
    margin: auto;
    display: block;
    width: 627px;
    height: 20px;
    position: absolute;
    top: 65px;
    background: #FAFBFD;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 25%);
    border-radius: 5px;
    left: 56px;
}


/*Forget password*/

.page-inner-fg {
    position: relative;
    background: url('../images/banner1-img.png')no-repeat #fff 100% 100%;
    background-size: cover;
    display: block;
    width: 100%;
    float: left;
    height: 100%;
    min-height: 100vh;
    padding: 80px 0px 40px 40px;
}

.fg-txt {
    margin-top: 100px !important;
}

h4.bck-txt a img {
    margin: 0px;
    margin-right: 8px;
    margin-top: 5px;
}

h4.bck-txt {
    margin: 43px 0px 100px 0px;
}

h4.bck-txt a {
    display: flex !important;
    align-items: center;
    justify-content: center;
}


/*create new  password*/

form.form-group.mar-btm {
    margin-bottom: 100px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    top: 45px;
    right: 16px;
    color: #A9A9AA;
}


/* sign up  */

.sin-btn-sec {
    padding: 0px 100px;
}

.sing-sec-txt p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 50px 0px 20px 0px;
    color: #7D7E76;
}

.sing-sec-txt h4 a {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3D4030;
    text-align: center;
    width: 100%;
    display: block;
}

form.form-group.mar-btm.min-hei {
    margin-bottom: 20px;
    min-height: 350px;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px 10px;
    margin: 30px 90px 30px 90px;
}


/* width  */

#scroll::-webkit-scrollbar {
    width: 4px;
    background: #CACFE7;
}


/* Track  */

#scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle  */

#scroll::-webkit-scrollbar-thumb {
    background: #ACADB5;
    border-radius: 10px;
    width: 6px;
    height: 20px;
}

select.sel-txt {
    background: url('../images/select-arrow.png')no-repeat #FFF;
    background-position: 95% center;
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    padding: 15px 40px 15px 25px;
    outline: none;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #353631;
}

select {
    appearance: none;
    -webkit-appearance: none;
}


/* sign up  */


/* side menu */

#sidebar {
    width: 320px;
    position: fixed;
    left: 0;
    min-height: 100%;
    background-color: #262121;
    overflow: auto;
    overflow-y: scroll;
    height: 100vh;
}

.page-wrapper #sidebar {
    transform: translateX(0px);
    transition: ease-in-out 0.5s;
}

.dash-left {
    width: 100%;
    background: #FFF;
    display: block;
    padding: 16px 0px;
    position: relative;
}

.dash-left>img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 193px;
}

.dash-left::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
}

.pro-sec img {
    border: 2px solid #88b10d;
    border-radius: 100%;
}

.pro-sec {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0px 15px 15px;
    border-bottom: 1px solid #4B4B4A;
}

.pro-txt {
    width: 100%;
    padding-left: 15px;
}

.pro-txt h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F3F4F9;
    margin: 0px;
    padding-bottom: 10px;
}

.pro-txt p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #88B10D;
    margin: 0px;
}

.page-content {
    padding-left: 320px;
    transition: ease-in-out 0.5s;
    background-color: #E5E5E5;
    min-height: 100vh;
}

.dash-right {
    min-height: 77px;
    display: flex;
    align-items: center;
    background: #179FD7;
}

.page-content .dash-right {
    padding-left: 40px;
    padding-right: 40px;
}

.login-hd-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.menu-ico-g {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-ico-g span {
    display: block;
    width: 100%;
    height: 3px;
    background: #272724;
    margin-bottom: 5px;
    border-radius: 10px !important;
}

.login-hd-left h2 {
    color: #272724;
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.nav_right {
    display: flex;
    align-items: center;
}

.nav_bell {
    position: relative;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid black;
    border-radius: 0.5px;
}

.profile_nav {
    cursor: pointer;
}

.profile_nav_img {
    padding-right: 10px;
}

.profile_nav_img img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.profile_nav_img,
.profile_nav_text {
    display: inline-block;
    vertical-align: middle;
}

li.submenu img {
    margin-right: 15px;
}

.profile_nav_text h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-top: 0px;
}

.profile_nav_text h2 {
    padding-top: 8px;
}

.profile_nav_text h2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.bell_top {
    background-color: #E74C3C!important;
    border-radius: 50% !important;
    height: 14px !important;
    width: 14px !important;
    padding: 0px !important;
    font-size: 11px !important;
    position: absolute !important;
    top: 0px !important;
    right: 26px !important;
    display: inline-block;
    line-height: 13px;
    color: #ffffff;
    text-align: center;
}

.page-wrapper.hide #sidebar {
    transform: translateX(-320px);
    transition: ease-in-out 0.5s;
}

.page-wrapper.hide .page-content {
    padding-left: 0px;
    transition: ease-in-out 0.5s;
}

.inner-wrapper-g {
    padding: 30px;
    padding-top: 15px;
}

.w-bg {
    background: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 30px 30px;
    box-shadow: -1px 0px 12px 1px #dddddd;
    -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
    -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
    -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
}

.w-bd-txt {
    display: block;
    width: 100%;
    border-bottom: 1px solid #D6D7CF;
}

.w-bd-txt h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #272724;
}

.w-bg-sc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.set-sc label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8F9187;
    margin-right: 20px;
}

select.sel-txt.wth {
    width: 270px;
    margin: 0px;
    margin-right: 30px;
    font-size: 14px;
}

button.snt-btn {
    background: #88B10D;
    box-shadow: 0px 9px 20px rgb(0 0 0 / 10%);
    border-radius: 5px;
    width: 180px;
    height: 50px;
    border: none;
    margin-right: 10px;
    margin: 10px auto;
}

button.snt-btn a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #2E3024 !important;
}

.set-sc,
.snt-btn {
    margin: 20px 0px;
}

button.cel-btn {
    background: #FFFFFF;
    border: 1.5px solid #959292;
    box-sizing: border-box;
    box-shadow: 0px 9px 13px rgb(0 0 0 / 10%);
    border-radius: 5px;
    width: 180px;
    height: 50px;
}

button.cel-btn a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #959292 !important;
}


/* .set-sec-btn {  margin: auto;} */

#user-t {
    width: 100%;
    white-space: nowrap;
}

.table-det.user-tb {
    width: 100%;
    display: block;
}

table#user-t thead tr th {
    background: #F4F4EB;
    padding: 16px 0px 16px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #54575C;
}

table#user-t thead tr th:first-child {
    border-top-left-radius: 20px;
}

table#user-t thead tr th:last-child {
    border-top-right-radius: 20px;
}

table#user-t tbody tr td {
    padding: 16px 0px 16px 20px;
    position: relative;
}

.ta-inp {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none !important;
    padding-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #353631;
    width: 130px;
    height: 40px;
}

.ta-inp-2 {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none !important;
    padding-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #353631;
    height: 40px;
}

.ta-inp-3 {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none !important;
    padding-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #353631;
    width: 100%;
    height: 40px;
}

.categories li {
    padding: 18px 0px 18px 25px;
    transition: 0.6s;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

.sub_menue {
    padding-top: 20px !important;
}

.db-lit-sc {
    padding-top: 0px;
}

.db-lit-sc ul {
    padding-left: 0px;
    margin-top: 0px;
}

.categories li a {
    display: flex;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
}

.db-lit-sc ul li a svg {
    margin-right: 30px;
}

.categories>li.active a,
.categories>li:hover a {
    color: #353631;
}

.categories>li.active a svg path,
.categories>li:hover a svg path {
    fill: #88B10D;
}

ul.side-nav-dropdown {
    padding-left: 20px;
}

.sub_menue {
    padding: 5px 0px 0px 0px !important;
    margin-bottom: 0px !important;
}

.side-nav-dropdown li a:hover,
.side-nav-dropdown li.active a {
    color: #FFFFFF !important;
}

.side-nav-dropdown li a svg {
    margin-right: 12px;
    display: none;
}

.side-nav-dropdown li a:hover svg,
.side-nav-dropdown li.active a svg {
    display: block;
    float: left;
    margin-top: 0px;
    margin-left: -20px;
}

.side-nav-dropdown li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #ADADA8;
    padding: 8px 0px;
    float: left;
    text-decoration: none;
    padding-left: 20px;
    text-transform: capitalize;
}

.categories li:hover a svg path {
    fill: #88B10D;
}

.categories li:hover a {
    color: #fff;
}

.tb-br {
    width: 50px;
    height: 40px;
    margin: 0px;
    display: flex;
    position: absolute;
    top: 16px;
    right: -4px;
    border-left: 1px solid #B7B7B7;
}

img.tb-img {
    display: block;
    margin: auto;
}

.profile_nav_text span {
    padding-left: 15px;
}


/* width  */

#cus-scr::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    box-shadow: inset 0 0 5px #ccc;
}


/* Track  */

#cus-scr::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #ccc;
}


/* Handle  */

#cus-scr::-webkit-scrollbar-thumb {
    background: #88B10D;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #ccc;
}

select:invalid {
    color: #626361
}

.categories>li.active,
.categories>li:hover {
    background: #179FD7;
    /* border-radius: 50px 0px 0px 50px; */
}

.aside_copyrights {
    width: 100%;
    float: left;
}


/* width  */

#sidebar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    box-shadow: inset 0 0 5px #ccc;
}


/* Track  */

#sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #ccc;
}


/* Handle  */

#sidebar::-webkit-scrollbar-thumb {
    /* background: #88B10D; */
    width: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #ccc;
}

.aside_copyrights p {
    padding: 15px 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #B6B6B3;
    margin-bottom: 0px;
}


/* side menu */


/* 12b manage */

.ds-hd-sc {
    width: 100%;
    display: block;
    background: #FFF;
    box-shadow: 0px 3px 7px rgb(0 0 0 / 7%);
}

.ds-hd-sc h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #272724;
    padding: 20px 0px 22px 22px;
}

.header_left h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #262624;
    margin-bottom: 0px;
    margin-top: 15px;
}

.pr-la-in label {
    font-weight: 500;
    font-size: 14px;
    color: #8F9187;
    padding-left: 5px;
    width: 100%;
    letter-spacing: 1px;
}

.pr-la-in input {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #353631;
    margin: 10px 0px 30px 0px;
    width: 100%;
    padding: 10px 15px 10px 30px;
    outline: none;
}

.pr-la-in span {
    width: 100%;
    display: block;
    position: relative;
}

.pr-la-in span div {
    top: 10px;
}

.pr-chx.cus-chckbox label {
    margin-left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px!important;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #8F9087 !important;
}

.sign_wrapper {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.sg-sc h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8F9087;
    margin-left: 15px;
    margin-bottom: 20px;
}

.sign-btn-sec {
    display: flex;
    justify-content: flex-end;
}

.upload-btn {
    background: #272724;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.sign-bx {
    min-height: 80px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    border-bottom: 2px solid #C4C4C4;
}

.btn-sec {
    width: 100%;
    display: block;
    text-align: center;
}

button.ret-btn {
    border: none;
    background: none;
}

button.ret-btn a {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: #EB5757 !important;
}


/* 12b manage */


/* 08c-upload Newproject */

.pr-la-in textarea {
    resize: none;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 140px;
    /* margin-top: 10px; */
    outline: none;
    padding: 15px 15px 15px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #000;
}

.pf-sc {
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
}

.pdf-up {
    border: 1px dashed #CCD4D6;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    position: relative;
}

.pdf-up img {
    width: 60px;
    height: 60px;
    margin: auto;
}

.pdf-up button {
    background: #B7BE11;
    border-radius: 2px;
    border: none;
    width: 70px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #2E3024;
    margin: auto;
    margin-top: 8px;
}

.pf-txt {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: center;
    width: 100%;
    display: block;
    /* margin: 15px 0px; */
}

.pr-la-in select {
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 100% !important;
    width: 100%;
    margin: 10px 0px 30px 0px;
    padding: 10px 45px 10px 20px;
    max-width: 360px;
    background: url(../images/select-arrow.png)no-repeat #FFF;
    background-position: 95% center;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #626361;
    outline: none;
}

input.opc-inp {
    opacity: 0;
    margin: 0px;
    position: absolute;
    bottom: 0;
}


/* 08c-upload Newproject */


/* 06A_District Maintenance start */

.menue_first_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D6D7CF;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 10px;
}

.main_content .main_head h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #262624;
    margin-bottom: 0px;
}

.distict_btn {
    background: #FAFBFD;
    border: 1px solid #FEDB41;
    box-sizing: border-box;
    border-radius: 5px;
}

.distict_btn button {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #2A2A29;
}

.distict_btn img {
    margin-right: 10px;
    vertical-align: sub;
}

.filter_by_sec {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.main_content .main_head h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #262624;
    margin-bottom: 0px;
    padding-right: 30px;
}

.filter_by_sec select {
    padding: 0px 20px;
    width: 250px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #353631;
    -webkit-appearance: none;
    background: url(../images/select_down_arrow.png) no-repeat 95%;
    margin-right: 40px;
}

.filter_by_sec input {
    font-weight: 400;
    font-size: 16px;
    color: #626361;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 20px;
    width: 250px;
    height: 50px;
    margin-right: 30px;
}

.table_main_dist {
    border-radius: 10px 10px 0px 0px;
}

.distict_table {
    width: 100%;
}

.distict_table thead {
    padding: 15px 10px;
    background: #F4F4EB;
}

.distict_table thead tr th {
    font-weight: 500;
    font-size: 16px;
    color: #54575C;
    padding: 10px 10px;
    white-space: nowrap;
}

.distict_table tbody tr td {
    padding: 15px 10px;
    white-space: nowrap;
}

.custom_check {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 12px;
}

.distict_table thead input[type="checkbox"],
.distict_table tbody input[type="checkbox"] {
    width: 20px;
    margin-left: 20px;
}

.custom_check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom_check label {
    position: relative;
    cursor: pointer;
}

.custom_check label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #CBCACA;
    background: #FFFFFF;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    top: 4px;
    border-radius: 3px;
}

.custom_check input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 11.7px;
    left: 6.5px;
    width: 4px;
    height: 9px;
    border: solid #2A2A29;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.pr-la-in label span {
    color: red;
    display: inline;
}

.distict_table tbody tr td {
    font-weight: 400;
    padding: 15px 10px;
    white-space: nowrap;
}

.table_last {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-bottom: 0;
    vertical-align: super;
    margin-left: 9px;
}

input:checked+.slider {
    background-color: #E0E0E0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #88B10D;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.distict_table tbody tr td span img {
    margin: 0px 7px;
    cursor: pointer;
}

.table-footer {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 8%);
    border-radius: 8px;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.table-entries span {
    font-weight: normal;
    font-size: 16px;
    color: #231F20;
    opacity: 0.4;
}

.table-pagination ul {
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 0px;
}

.table-pagination ul li,
.table-pagination ul li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #959B9D;
}

.pagination li.active {
    background: #88B10D;
    border-radius: 4px;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    vertical-align: sub;
    justify-content: center;
}

.table-pagination ul li {
    margin-right: 20px;
}

.table-pagination ul li:last-child {
    margin-right: 0px;
    color: #5F6668;
}

.main_content {
    width: 100%;
}

.distict_table thead tr th span.table_arrow {
    padding-left: 10px;
}

.table-pagination li.active a,
.table-pagination li.active {
    background: #88B10D;
    border-radius: 4px;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    vertical-align: sub;
    justify-content: center;
}


/* 06A_District Maintenance end */


/* 08A_Upload New Products start */

.product_btn button {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #272724;
    width: 100%;
    background: transparent;
}

.product_btn {
    width: 195px;
    height: 40px;
    background: #FFFFFF;
    border: 1.5px solid #88B10D;
    box-sizing: border-box;
    border-radius: 5px;
}


/* 08A_Upload New Products end */


/* 09A_Suggested Replacement start */

.tab_section {
    justify-content: left!important;
}

.tab_section ul li a.active {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #B7BE11 !important;
    border: 1.5px solid #BDC325 !important;
    box-sizing: border-box;
    border-radius: 5px;
}

.tab_section ul li {
    width: 215px;
    height: 50px;
}

.tab_section ul li a {
    background: #F7F7F7;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #272724;
    text-decoration: none;
    margin-right: 20px;
}

.nav-tabs {
    border-bottom: none;
}

.alternatives_btn {
    width: 90px;
    height: 28px;
    font-weight: 500;
    font-size: 14px;
    color: #4B4D52;
    border: 1.5px solid #88B10D;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0px;
    background: transparent;
}


/* 09A_Suggested Replacement end */


/* 13C_District Admin start */

.form_input_main label {
    width: 100%;
    padding: 30px 0px 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8F9187;
}

.form_input_main .form_input {
    width: 360px;
    height: 50px;
    padding-left: 30px;
    background: #FFFFFF;
    color: #626361;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
}

.blue_back input {
    background: #F7F7F7 !important;
}

.mb_50 {
    margin-bottom: 50px;
}


/* 13C_District Admin end */


/* 15A_Manage Reports start */

.category_select select {
    width: 178px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #9B59B6;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0px 23px;
    -webkit-appearance: none;
    background: url(../images/select_down_arrow.png) no-repeat 85%;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #272724;
}

.table_back_color input {
    background-color: #F6F6F6 !important;
}

.button_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 30px 0px;
}

.button_section .blue_btn {
    width: 180px;
    height: 50px;
    margin-right: 40px;
    background: #179FD7;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.button_section .white_btn {
    width: 180px;
    height: 50px;
    background: transparent;
    border: 1.5px solid #959292;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}


/* 15A_Manage Reports end */


/* 14A Form start */

.save_form {
    background: #88B10D;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    font-weight: 700;
}

.form_input {
    width: 360px !important;
}

.profile-main {
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    padding-top: 0px !important;
    padding: 5px 15px;
    margin-top: 10px;
}

.profile-main p {
    font-weight: 400;
    font-size: 14px;
}

.form_main .profile-sec {
    background: #f2f2f2;
    padding: 10px 0px;
}

.forum-profile {
    padding: 0px 10px;
    width: 50px;
    height: 50px;
    padding-left: 20px;
}

.profile-name {
    width: 130px;
}

.form_main .cmt-time {
    width: 100px;
    padding-top: 32px;
}

.form_main .cmt-2 {
    margin-left: 50px;
}

.form_main .cmt-3 {
    padding-left: 20px;
}

.profile-main h4 {
    font-weight: 500;
    font-size: 16px;
    width: 130px;
}

.profile-main h6 {
    font-size: 14px;
    color: #79797A;
    font-weight: 500;
    width: 130px;
}

.profile-main h5 {
    font-size: 12px;
    color: #979EA6;
    width: 100px;
}

.profile-main h2 {
    font-size: 16px;
    color: #2A2A29;
    font-style: normal;
    font-weight: bold;
}

.profile-main a {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: #88B10D;
    /* text-decoration: underline; */
}

.profile-main h3 {
    color: #88B10D;
    font-weight: bold;
    font-size: 16px;
}

.profile-main .profile-bg {
    background: #FBFFEE;
}

.profile-main .btn-reply {
    color: #88B10D;
    border: 3px solid #88B10D;
    font-weight: bold;
    /* margin-left: 0px !important; */
}

.form_main .profile-sec2 {
    border: 1px solid #f4f4f4;
    padding: 0px 15px;
}

.form_main .profile-sec_2 {
    padding: 10px 0px;
}

.form_main .toggle-reply {
    color: #88B10D;
}

.form_main .btn-send {
    background: #88b10d;
    margin: 0px !important;
}

.form_main .profile-line {
    border-bottom: 1px solid #f4f4f4;
    width: 90%;
    margin: 0 auto;
}

.form_main .type-msg {
    border: 1px solid #ECECEC;
}

.form_main .profile-mrgn {
    margin-bottom: 5px;
}

.form_message {
    padding: 20px 0px;
}

.form_message input {
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
    padding: 14px 30px;
    margin-right: 20px;
    width: 92.8%;
}


/* 05A_Dashboard start */

.part_1 {
    background: #E1E9CB;
    border-radius: 3px;
}

.part_2 {
    background: #FFE6B6;
    border-radius: 3px;
    margin-top: 12px;
}

.part_3 {
    background: #CEF7F0;
    border-radius: 3px;
    margin-top: 12px;
}

.part_4 {
    background: #C9EBD7;
    border-radius: 3px;
    margin-top: 12px;
}

.dashboard_first {
    float: left;
    width: 100%;
}

.dashboard_first .part_main {
    display: flex;
    width: 100%;
    float: left;
    padding: 7px 10px;
    border-radius: 3px;
    align-items: center;
}

.dashboard_first .part_main img {
    margin-right: 10px;
}

.dashboard_first .part_main h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2A2A29;
    width: 80%;
}

.dashboard_first .part_main h2 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #2A2A29;
    padding-left: 15px;
    border-left: 1px solid #9D9D9C;
}

.pb_20 {
    padding-bottom: 20px;
}

.width_30 {
    width: 30%;
    float: left;
    height: auto;
}

.dashboard_first h1 {
    padding-right: 0px !important;
}

.dashboard_head h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #272724;
    padding: 40px 0px 0px 40px;
    width: 100%;
}

.border_bottom_dash {
    border-bottom: 1px solid #D6D7CF;
}

.filter_by_dash_main {
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

.filter_by_dash_main h1 {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #27282C;
    width: 20%;
}

.filter_by_dash_main input {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #626361;
    padding: 17px 20px;
    width: 80%;
}

.table_first_center {
    text-align: center;
}

.dashboard_head {
    width: 100%;
}

.pl_0 {
    padding-left: 0px !important;
}

.ml_0 {
    margin-left: 0px !important;
}


/* asif dashboard */

.chart_flex_Wrap {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart_flex_Wrap .width_30 {
    width: 32%;
    margin: 20px 0px;
    padding-bottom: 17px;
    box-sizing: border-box;
    background: white;
    border-radius: 7px;
    padding: 10px 30px 30px;
    box-shadow: -1px 0px 12px 1px #dddddd;
    -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
    -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
    -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
}

.chart_flex_Wrap .width_50 {
    width: 49%;
    background: white;
    border-radius: 7px;
    padding: 10px 30px 30px;
    box-shadow: -1px 0px 12px 1px #dddddd;
    -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
    -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
    -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
}

.footer_center p span {
    color: #000000;
    font-weight: 500;
}

.footer_center p {
    color: #646464;
    text-transform: uppercase;
}

.footer_center {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 22px;
    font-size: 13px;
}

.chart_flex_Wrap h1.pb_20 {
    font-size: 16px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.main_content.width_50.ml_0.mr_0 .footer_center {
    margin-top: 0px;
}

.chart_legend {
    position: relative;
}

.chart_legend ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

span.org {
    width: 13px;
    height: 13px;
    background: #C09108;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
}

span.grn {
    width: 13px;
    height: 13px;
    background: #8CB70F;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
}


/* 05A_Dashboard end */


/* form 15 start */

.frame_15 {
    max-width: 810px;
}


/*  form_15 ends */

.width_11 {
    width: 11%;
}

.popup-window {
    max-width: 1006px!important;
    margin: 95px auto;
}

.form_input_main select {
    width: 360px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 30px;
    -webkit-appearance: none;
    background: url(../images/select_down_arrow.png) no-repeat 93%;
}

.pop-title {
    font-size: 18px !important; 
    font-weight: 600;
    line-height: 19px;
    padding-top: 20px;
}

.modal-header {
    border: none !important;
}

.custom-body {
    padding-top: 0px;
}

.custom-body label {
    font-size: 16px; 
    color: #8F9187;
    display: block;
}

.custom-body h3 { 
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0px;
}

.custom-body button {
    background: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 0px;
    outline: none;
    font-size: 18px;
    width: 230px;
    border: 1px solid #DBE0DF; 
}

.custom-body button:hover {
    color: #E74C3C;
    border: 1.2px solid #E74C3C;
    background: #FFF4F4;
}

.button_section {
    background: white;
    margin: 0px 20px 15px 20px;
    border-radius: 0px 0px 10px 10px;
}

.custom-body svg path {
    fill: white;
}

.custom-body button:hover svg path {
    fill: red;
}

.custom-body button svg {
    margin-left: 10px;
    height: 10px;
}

.show_hide::after {
    content: '';
    display: block;
    border-bottom: 1px solid #88B10D;
}


/*  */

main.page-cont {
    background: url('../images/bg.png');
    min-height: 100vh;
}

.main {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
}

.login-sec {
    display: block;
    float: left;
    width: 660px;
    max-width: 100%;
    position: relative;
    border-radius: 5px;
    background-position: -20px -10px
}

.login-sec img {
    display: block;
    margin: 35px auto auto;
}

.login-sec h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;
    color: #3D4030;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 38px;
}

.login-sec form {
    margin: 30px 100px;
}

.login-bx {
    position: relative;
}

span.pw,
span.us {
    position: absolute;
    top: -30px;
    bottom: 0;
    z-index: 2;
    margin: 0px 0px 0px 0px;
}

.login-sec form input {
    position: relative;
    ;
    width: 100%;
    border: 1px solid #DFDFDF;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    padding: 15px 40px 15px 25px;
    outline: none;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #353631;
}

.form-control {
    border-radius: inherit;
}

span.fa.fa-fw.fa-eye.field-icon.toggle-password,
span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash {
    position: absolute;
    top: 36px;
    color: #179FD7;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.new {
    margin-bottom: 40px;
}

.cus-chckbox {
    display: inline-flex;
    margin-bottom: 15px;
}

.cus-chckbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.login-sec form label,
.login-sec form label a {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8F9087;
}

.cus-chckbox label {
    position: relative;
    cursor: pointer;
    display: block !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 20px !important;
    color: #3D4030 !important;
    margin-left: 0px;
    margin-bottom: 0px !important;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    top: 45px;
    right: 16px;
    color: #A9A9AA;
}

.cus-chckbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #3D4030;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 18px;
    border-radius: 2px;
}

.cus-chckbox input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.cus-chckbox input:checked+label:before {
    background: #3D4030;
}

button {
    outline: none !important;
}

.for-btn {
    width: 100%;
    background: #179FD7;
    height: 55px;
    border: none;
    border-radius: 5px;
}

.login-sec form p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 50px 0px 20px 0px;
    color: #7D7E76;
}

.for-btn a {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}


/* Aashik Start - Login-end*/


/* Aashik Start - Dashboard*/

#sidebar {
    width: 285px;
    position: fixed;
    left: 0;
    min-height: 100%;
    background-color: #262121;
    overflow: auto;
    overflow-y: scroll;
    height: 100vh;
}

.page-wrapper #sidebar {
    transform: translateX(0px);
    transition: ease-in-out 0.5s;
}

.dash-left {
    width: 100%;
    background: #FFF;
    display: block;
    padding: 16px 0px;
    position: relative;
}

.dash-left>img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 193px;
}

.dash-left::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
}

.categories li {
    padding: 18px 0px 18px 25px;
    transition: 0.6s;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

.sub_menue {
    padding-top: 20px !important;
}

.db-lit-sc {
    padding-top: 0px;
}

.db-lit-sc ul {
    padding-left: 0px;
    margin-top: 0px;
}

.categories li a {
    display: flex;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 19px;
    text-transform: capitalize;
    color: #ddd;
}

.categories li a:hover {
    color: #fff;
}

.db-lit-sc ul li a svg {
    margin-right: 30px;
}

.categories>li.active a,
.categories>li:hover a {
    color: #353631;
}

.categories>li.active a svg path,
.categories>li:hover a svg path {
    fill: #88B10D;
}

ul.side-nav-dropdown {
    padding-left: 20px;
}

.sub_menue {
    padding: 5px 0px 0px 0px !important;
    margin-bottom: 0px !important;
}

.side-nav-dropdown li a:hover,
.side-nav-dropdown li.active a {
    color: #FFFFFF !important;
}

.side-nav-dropdown li a svg {
    margin-right: 12px;
    display: none;
}

.side-nav-dropdown li a:hover svg,
.side-nav-dropdown li.active a svg {
    display: block;
    float: left;
    margin-top: 0px;
    margin-left: -20px;
}

.side-nav-dropdown li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #ADADA8;
    padding: 8px 0px;
    float: left;
    text-decoration: none;
    padding-left: 20px;
    text-transform: capitalize;
}

.categories li:hover a svg path {
    fill: #88B10D;
}

.categories li:hover a {
    color: #fff;
}

ul {
    list-style-type: none;
}

li.submenu img {
    margin-right: 30px;
}

.page-content {
    padding-left: 285px;
    transition: ease-in-out 0.5s;
    background: url('../images/bg.png');
    min-height: 100vh;
}

.dash-right {
    min-height: 77px;
    display: flex;
    align-items: center;
    background: #179FD7;
}

.page-content .dash-right {
    padding-left: 40px;
    padding-right: 40px;
}

.login-hd-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.menu-ico-g {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-ico-g span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 10px !important;
}

.nav_right {
    display: flex;
    align-items: center;
}

.nav_bell {
    position: relative;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid black;
    border-radius: 0.5px;
}

.profile_nav {
    cursor: pointer;
}

.profile_nav_img {
    padding-right: 10px;
}

.profile_nav_img img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.profile_nav_img,
.profile_nav_text {
    display: inline-block;
    vertical-align: middle;
}

.profile_nav_text h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-top: 0px;
}

.profile_nav_text h2 {
    padding-top: 8px;
}

.profile_nav_text h2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.profile_nav_text span {
    padding-left: 15px;
}

span {
    margin-left: 15px;
    font-weight: bold;
}

.inner-wrapper-g {
    padding: 30px;
    padding-top: 15px;
}


/* dashboard */

.chart_flex_Wrap {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart_flex_Wrap .width_30 {
    width: 24%;
    margin: 20px 0px;
    padding-bottom: 17px;
    box-sizing: border-box;
    background: white;
    border-radius: 7px;
    padding: 10px 30px 30px;
    box-shadow: -1px 0px 12px 1px #dddddd;
    -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
    -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
    -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
}

.width_30 {
    width: 30%;
    float: left;
    height: auto;
}

.main_content {
    width: 100%;
}

.header_left {
    width: 68%;
    float: left;
}

.header_left p {
    font-size: 16px;
    margin-bottom: 0px;
}

.im {
    width: 30%;
    float: left;
}

h1#blue {
    color: #179FD7;
}

h1#green {
    color: #B4E066;
}

h1#red {
    color: #E08966;
}

h1#orange {
    color: #E0B665;
}

.main_content .main_head h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #262624;
    margin-bottom: 5px;
    margin-left: 0;
    padding-right: 30px;
}

.header_left h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #262624;
    margin-bottom: 0px;
    margin-top: 15px;
}

.main_content .main_head h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #262624;
    margin-bottom: 0px;
}

.ml_0 {
    margin-left: 0px !important;
}


/* Aashik Start - Dashboard-end*/


/* Aashik Start - Add User-start*/


/* width  */

#sidebar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    box-shadow: inset 0 0 5px #ccc;
}


/* Track  */

#sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #ccc;
}


/* Handle  */

#sidebar::-webkit-scrollbar-thumb {
    /* background: #88B10D; */
    width: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #ccc;
}

.w-bg {
    background: white;
    border-radius: 10px;
    width: 100%;
    padding: 10px 30px 30px;
    box-shadow: -1px 0px 12px 1px #dddddd;
    -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
    -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
    -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
}

.pr-la-in label {
    font-weight: 500;
    font-size: 14px;
    color: #8F9187;
    padding-left: 5px;
    width: 100%;
    letter-spacing: 1px;
}

.pr-la-in input {
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #353631;
    margin: 10px 0px 30px 0px;
    width: 100%;
    padding: 10px 15px 10px 30px;
    outline: none;
}

.pr-la-in span {
    width: 100%;
    display: block;
    position: relative;
}

.pr-la-in span div {
    top: 10px;
}

.pr-la-in select {
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 100% !important;
    width: 100%;
    margin: 10px 0px 30px 0px;
    padding: 10px 45px 10px 20px;
    max-width: 360px;
    background: url(../images/select-arrow.png)no-repeat #FFF;
    background-position: 95% center;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #626361;
    outline: none;
}

select.sel-txt {
    background: url('../images/select-arrow.png')no-repeat #FFF;
    background-position: 95% center;
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    padding: 15px 40px 15px 25px;
    outline: none;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #353631;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

.button_section {
    margin: 30px 20px 45px 20px;
}

.button_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 30px 0px;
    margin: 15px;
}

.distict_btn .blue_btn {
    width: 105px;
    height: 36px;
    margin-left: 10px;
    background: #179FD7;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

.button_section .blue_btn {
    width: 150px;
    height: 45px;
    margin-right: 40px;
    background: #179FD7;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

.button_section .white_btn {
    width: 150px;
    height: 45px;
    background: transparent;
    border: 1.5px solid #959292;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
}


/* Aashik Start - Add User-end*/


/* Aashik Start - Manage User-start*/

.menue_first_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.filter_by_sec {
    display: flex;
    align-items: baseline;
    padding: 20px 0px;
}

.filter_by_sec select {
    padding: 0px 20px;
    width: 250px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #353631;
    -webkit-appearance: none;
    background: url(../images/select_down_arrow.png) no-repeat 95%;
    margin-right: 40px;
}

.filter_by_sec input {
    font-weight: 400;
    font-size: 16px;
    color: #626361;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 20px;
    width: 250px;
    height: 50px;
    margin-right: 30px;
}

.table_main_dist {
    border-radius: 10px 10px 0px 0px;
}

.distict_table {
    width: 100%;
}

th.cen {
    text-align: center;
}

.distict_table thead {
    padding: 15px 10px;
}

.distict_table thead tr th {
    font-weight: 500;
    font-size: 16px;
    color: #54575C;
    padding: 10px 10px;
    white-space: nowrap;
}

.distict_table tbody tr td {
    padding: 15px 10px;
    white-space: nowrap;
}

tr.tab {
    background-color: unset !important;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.distict_table tbody tr td {
    font-weight: 400;
    padding: 15px 10px;
    white-space: nowrap;
}

.table_last {
    display: flex;
    align-items: center;
}

.distict_table tbody tr td span img {
    margin: 0px 7px;
    cursor: pointer;
}

.table-footer {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.table-entries span {
    font-weight: normal;
    font-size: 16px;
    color: #231F20;
    opacity: 0.4;
}

.table-pagination ul {
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 0px;
}

.table-pagination ul li,
.table-pagination ul li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #959B9D;
}

select#pages {
    width: 45px;
    border-radius: 7px;
    padding: 0 8px;
    background: url(../images/select-arrow.png)no-repeat #FFF;
    background-position: 70% center;
}

.pagination li.active {
    background: #88B10D;
    border-radius: 4px;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    vertical-align: sub;
    justify-content: center;
}

.table-pagination ul li {
    margin-right: 20px;
}

.table-pagination ul li:last-child {
    margin-right: 0px;
    color: #5F6668;
}

label#page {
    margin-right: 15px;
}

.distict_table thead tr th span.table_arrow {
    padding-left: 10px;
}

.table-pagination li.active a,
.table-pagination li.active {
    color: #5F6668;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    vertical-align: sub;
    justify-content: center;
}

.categories>li.active,
.categories>li:hover {
    background: #179FD7;
}

a:hover {
    text-decoration: none;
}

.table_main_dist.table-responsive>span {
    display: none;
}

.form-group button:hover {
    box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.2);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: unset;
    outline: 0;
    box-shadow: none;
}

/* .table_last .fa-eye:before {
    content: "";
    top: 4px !important;
    position: relative !important;
}
 */
/* Aashik Start - Manage User-start*/


/* Aashik - User Admin */


/* Account settings */